
<div>
   <div style="background-color:#F0F0F0">
    <div class="screenwidth">
       <span><img src='../../assets/Singapore_Govt.png' class="imagesize"></span>
       <span style="font-family:Arial; font-size:12px;color:#464642; margin-left:-7px">A Singapore Government Agency Website</span>
     </div>
     </div>
     <div style=" box-shadow: 1px 1px 2px #a7a2a2; background-color:#FFFFFF">

     </div>

     <nav class="navbar navbar-expand-lg navbar-light bg-light  screenwidth" style="padding:0;" >
            <a class="navbar-brand" ><img src='../../assets/CPF_Board.png' width=150px; height=70px; style="padding:0;height:52px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li class="nav-item active">
                    <a class="nav-link employee">Employer Guide </a>
                  </li>

                  <li class="nav-item active">
                    <a class="nav-link tools"  >Tools</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link services" style="color: #4F8208;">Services

                </a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                          <a class="nav-link loginbut" >Login</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" (click)="logout()"> <i class="far fa-user loginicon" ></i> </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link searchicon"> <i class="fas fa-search" ></i> </a>
                </li>
                </ul>

                </form>
              </div>
          </nav>
<div *ngIf="screenflag==false" class="screenwidth">
  <br/>
<div class="column-3">
    <div class="aside">
<ul class="nav flex-column " style="display:block;border-bottom:0.5px solid #707070;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="true" aria-label="Toggle navigation"
        style="
        height: 60px;
width: 100%;
border-left: 5px solid green;
text-align: left;">
                Make CAYE Contributions
                  <!-- <br/>
                  Services -->
                  <i class="fa fa-angle-down" style="font-size:24px;float:right"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo03" style="height:295px">
    <li class="nav-item">
      <a class="nav-link active serprovider"  style="height:60px; width:100%;padding:15px">Service Buyers
<br/>
         Online Services</a>
    </li>
<br/>
    <br/>
  <li class="nav-item">  <a   style="padding:1px 0px 4px 0px;font-size:15px; color:black; text-align:center;">

       <p style="font-weight: bold;
/* margin-bottom: 1%; */
text-align: center;
/* margin-right: 10.5px; */
/* margin-left:24px; */
font-size:16px;
height: 35px;
line-height: 1.2;
margin:auto;">
<i class="fa fa-angle-down" style="font-size:20px;margin-left:10px"></i>
Contribute As You Earn Scheme</p></a>
</li>
<li class="nav-item">
      <a style="
      /* float: left; */
      /* padding: 1px 0px 4px 0px; */
      font-size: 16px;
      color: black;
      text-align: center;
      /* margin-left: 24.45px; */
      /* margin-right:87.05px; */
      height: 35px;
      line-height: 1.2;
      margin-bottom:0;
      "><p>Update Entity Information</p></a>
    </li>

<li class="nav-item">
  <a style="
  /* float: left; */
  /* padding: 1px 0px 4px 0px; */
  font-size: 16px;
  color: black;
  text-align: center;
  /* margin-left: 24.45px; */
  /* margin-right:87.05px; */
  height: 35px;
  line-height: 1.2;
  margin-bottom:0;
  "><p>Make CAYE Contributions</p></a>
  <!--
  <a  [routerLink]="" (click)="Nextpage()" style="padding:1px 0px 4px 0px;font-size:15px; color:black; ">
    <p class="caye" style=" width:290px;padding:15px;margin-left: auto;
margin-right: auto;text-align:center">  Make CAYE Contributions</p></a> -->
</li>

    <li class="nav-item">
      <a  [routerLink]="" (click)="Nextpage()" style="padding:1px 0px 4px 0px;font-size:15px; color:black; ">
        <p class="caye" style=" width:290px;padding:15px;margin-left: auto;
    margin-right: auto;text-align:center">  View Transaction History</p></a>
    <!-- <a  style="
font-size: 16px;
color: black;
text-align: center;
height: 17px;
margin-bottom: 0px;">
      <p>View Transaction History</p>
    </a> -->
  </li>

    <li>
    <a  style="

font-size: 16px;
color: black;
text-align: center;
height: 17px;
width: 116px;">
      <p>Request Refund
      </p>
    </a>
  </li>


</div>
  </ul>
</div>
</div>
<div style="text-align:right;">
  <span class="dot1"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>
<p style="    font-size: 16px;padding:15px"><b> Welcome NANYANG POLYTECHNIC </b>(UEN:1992123456) </p>
  </div>



     <div *ngIf="screenflag" class="screenwidth">
     <div class="column-3">
        <div class="aside">
          <h1 class="serprovider">Service Buyers Online Services</h1>



          <a   style="padding:1px 0px 4px 0px;font-size:15px; color:black; ">
<i class="fa fa-angle-down" style="font-size:20px;float:left;margin-left:10px"></i>
             <p style="font-weight: bold;
    margin-bottom: 1%;
    text-align: left;
    margin-right: 10.5px;
    margin-left:24px;
    font-size:16px;
    height: 35px;
    line-height: 1.2;
    margin-bottom:11px">

    Contribute As You Earn Scheme</p></a>

            <a style="float: left;
            font-size: 16px;
            color: black;
            text-align: left;
            margin-left: 24.45px;
            margin-right:87.05px;
            height: 35px;
            line-height: 1.2;
            margin-bottom:5px"><p>Update Entity Information</p></a>
<br/>


         <div style="
         background-color: #464545;
    margin-left: 7px;
    margin-right: 7.5px;
    float: left;
    height: 45px;
    width: 198px;
    margin-bottom:5px">
          <a  style="font-size: 16px;
    color: white;
    float: left;
    /* margin-left: 12%; */
    height: 45px;
    padding-left: 17.45px;
    padding-right: 86.55px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 1.2;
    text-align: left;">
    Make CAYE Contributions</a>

          </div>
          <a  style="float: left;
    font-size: 16px;
    color: black;
    text-align: left;
    margin-left: 24.45px;
    height: 17px;
    margin-bottom: 10px;">
            <p>View Transaction History</p>
          </a>
          <br/>

          <a  style="float: left;
    font-size: 16px;
    color: black;
    text-align: left;
    margin-left: 24.45px;
    margin-right: 72.05px;
    height: 17px;
    margin-bottom: 10px;
    width: 116px;">
            <p>Request Refund
            </p>
          </a>




        </div>
      </div>

      <div ><span class="dot1"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span> </div>
      <p style="    font-size: 16px;
      margin-left: 251px;"><b> Welcome NANYANG POLYTECHNIC </b>(UEN:1992123456) </p>
    </div>
     </div>



     <!-- <div class="navbar" style="width:970px;margin:auto;padding:0;height:90px">
        <a class="navbar-brand">
          <img src="../../assets/CPF_Board.png" style="width:155px; height:70px" >
        </a>
     </div> -->
     <!-- <nav class="navbar navbar-expand-lg navbar-light screenwidth" style="padding:0;height:90px" >
        <a class="navbar-brand" ><img src='../../assets/CPF_Board.png' style="padding:0;width:155px; height:70px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link employee" style="    font-family: Arial;
                font-size: 16px;
                font-weight: bold;
                margin-left: 55px;
                margin-right: 22px;
                margin-top: 36px;
                margin-bottom: 15px;
                padding-left: 0;
                padding-right: 0;">Employer Guide </a>
              </li>

              <li class="nav-item active">
                <a class="nav-link" style="margin-right: 30px;font-family:Arial;font-size:16px;font-weight:bold;margin-top: 36px;
                margin-bottom: 15px;" >Tools</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link services"  style="margin-right: 22px;font-family: Arial;
                  font-size: 16px;
                  font-weight: bold;
                  color: #4F8208;
                  margin-top: 36px;
                  margin-bottom: 0px;
                  border-bottom: 5px solid #4F8208;
                  padding-bottom: 20px;">Services

              </a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
              <a class="nav-link" style="margin-right: 22px;font-family:Arial;font-size:16px;font-weight:bold;font-weight:bold;margin-right: 25px;    margin-top: 40px;
              margin-bottom: 15px;">Login</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" (click)="logout()"> <i class="far fa-user loginicon" style="margin-top:44px;
                      margin-bottom:15px;"></i> </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link"> <i class="fas fa-search" style="margin-right:25px;margin-top:44px;
                  margin-bottom:22px;"></i> </a>
            </li>
            </ul>

            </form>
          </div>
      </nav> -->
