
<app-header-modified></app-header-modified>
<div class="wholeregistration">
<div class="registration">
    <hr class="horizontal1">
<div class="cayeheight">
<p class="ContributeAsYou">Contribute As You Earn Scheme (CAYE)</p>
</div>
<div class="requestprocessdiv">
  <p class="requestprocess">
    Your request cannot be processed as you do not have a CPF Submission Number for CAYE.
  </p>
</div>

<hr class="horizontal">

<div class="relatedlink">
  <p class="link">Related Links</p>
</div>
<div class="applylink">
  <p class="symbol">> <a href="applycayenew" class="applylinkforcaye">Apply for CAYE Submission Number</a></p>
</div>

</div>
</div>
