<!-- <mat-toolbar id="row1">
  <img src='../../assets/Singapore_Govt.png' width=60px; height=35px; style="margin-left:3%" >
  <h6>A Singapore Government Agency Website</h6>
</mat-toolbar>

<mat-grid-list cols="10" >
  <mat-grid-tile colspan="2" style="margin-left:0%"><img src='../../assets/CPF_Board.png' width=150px; height=70px;></mat-grid-tile>

  <mat-grid-tile>CPF Schemes</mat-grid-tile>
  <mat-grid-tile>Services</mat-grid-tile>
  <mat-grid-tile>Tools</mat-grid-tile>
  <mat-grid-tile>About Us</mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
<mat-grid-tile colspan="3">
  <mat-form-field appearance="outline">
  <mat-label>Search</mat-label>
  <input matInput  >
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
</mat-grid-tile>
</mat-grid-list>

<mat-toolbar id="row2">

    <h6 style="margin-left:20px">Main Menu</h6>
    <span class="spacer"></span>
    <button style="padding:11px 20px 8px 35px;background-color:rgb(63, 62, 62);border:none;color:white;margin-right: -15px;font-size:16px;">Logout         <img src='../../assets/logout.png' width="25px" height="20px" style="margin-bottom: -3px;margin-left:10px;"></button>
  </mat-toolbar>

  -->

<!-- <div class="container"> -->
  <!-- <div class="container-fluid"> -->
  <nav class="navbar navbar-expand-sm navbar-light bg-secondary " style="height:25px; padding:35px;" >
    <div class="navbar-brand" href="#">
    <img src='../../assets/Singapore_Govt.png' width=60px; height=35px; class="imagepos" >
      <span class="navbar-text" style="font-size:15px">
    A Singapore Government Agency Website
  </span>
</div>
  </nav>
<!-- style="height:70px; padding:25px;" -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <a class="navbar-brand" href="#"><img src='../../assets/CPF_Board.png' width=150px; height=70px;></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">CPF Schemes <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Services</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Tools</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">About Us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i>
</button>
    </form>
  </div>
</nav>


<nav class="navbar navbar-light bg-light menuGreen ">
  <span class="navbar-text" style="color:white">

    Main Menu
</span>
<button class="btn btn-dark ml-auto mr-1">Logout
   <img src='../../assets/logout.png' width="25px" height="20px" style="margin-bottom: 1px;margin-left:10px;">
 </button>

</nav>


    <div class="column-3">
    <div class="aside">
      <h6 style="padding:15px 15px 0px 15px">Service Buyers</h6>
      <h6 style="padding:0px 15px 1px 15px">Online Services</h6>
      <div style="background-color:grey; width:100%; padding:1px 15px 0px 15px">
      <a style="padding:1px 0px 4px 0px">Contribute As You Earn Scheme</a>
</div>
<div class="sidebar" >

</div>
    </div>
  </div>
<!--
<div>

  <h5 style="padding:25px 0px 10px 0px; margin-left:10px; color:#49712d;font-weight:800">Business Partner Portal Services</h5>

  <div id="container">
  <div class="box1">
    <h6 style="font-size:15px">Welcome</h6>
    <h6 style="font-size:17px;font-weight:530">NANYANG POLYTECHNIC</h6>
    <h6 style="font-size:15px;font-weight:530">UEN ID:1992123456</h6>
    <br/>
    <p>Your last login using CorpPass was on Wednesday, 13 August 2018 at 12:38:11 PM (Singapore Standard Time)</p>
  </div>
  <div class="box2">
<h6>Did you know....?</h6>
<br/>
<ul>
  <li>  Come to our CPF Retirement Planning Roadshows and discover how you can make the most of your CPF SAvings! Details here.</li>
  <br/>
  <li>  Make the most of your CPF savings....</li>
</ul>
  </div>

</div>
<br/>

<div class='componentWrapper'>
  <div class="header">
    Other Matters
  </div>

</div>

</div> -->
