<head>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/sgds-govtech@1.2.3/css/sgds.css"/>
    </head>

<footer class="sgds-footer top-section margin--top--lg">
    <div class="sgds-container onclicks3">
        <div class="row ROWS ">
            <div class="col header colomns">
                <h5 class="sub-header has-text-white"><b>CPF Board</b></h5>
            </div>
        </div>
        <div class="row ROWS">
            <div class="col colomns onclicks3">
                <ul class="is-paddingless onclicks4">
                    <li class="LI"><a class="is-inline-block-desktop-only onclicks" onclick="ga('send', 'event', 'MembersFooter1', 'FooterClick', 'News')" href="/members/news/news-categories-info/news-releases">News</a></li>                                
                    <li class="LI"><a class="is-inline-block-desktop-only onclicks" onclick="ga('send', 'event', 'MembersFooter1', 'FooterClick', 'Join Us')" href="/members/careers">Join Us</a></li>
                    <li class="LI"><a class="is-inline-block-desktop-only onclicks" onclick="ga('send', 'event', 'MembersFooter1', 'FooterClick', 'Useful Links')" href="/members/others/member-pages/useful-Links" title="Useful Links" target="_self">Useful Links</a></li>
                    <li class="LI"><a class="is-inline-block-desktop-only onclicks" onclick="ga('send', 'event', 'MembersFooter1', 'FooterClick', 'Sitemap')" href="/members/Others/member-pages/sitemap" title="Sitemap" target="_self">Sitemap</a></li>
                </ul>
            </div>
        </div>
        <div class="row ROWS">
            <div class="col is-right-desktop-only colomns">
                <ul class="is-paddingless onclicks4">
                    <li class="LI"><a class="is-inline-block-desktop-only onclicks" onclick="ga('send', 'event', 'MembersFooter2', 'FooterClick', 'Contact Info')" href="/members/contact" title="Contact Us" target="_self">Contact Us</a></li>
                    <li class="LI"><a class="is-inline-block-desktop-only onclicks" onclick="ga('send', 'event', 'MembersFooter2', 'FooterClick', 'Feedback')" href="/eSvc/Web/FeedbackSubscription/Index" title=" feedback" target="_self">Feedback</a></li>
                    <li class="LI"><a class="is-inline-block-desktop-only onclicks" onclick="ga('send', 'event', 'MembersFooter2', 'FooterClick', 'FAQ')" href="/members/FAQ" title="FAQ" target="_self">FAQ</a></li>
                    <li class="is-inline-block-desktop-only LI">
                        <a class="onclicks" onclick="ga('send', 'event', 'MembersSocialMediaIcon', 'IconClick', 'CPF Board official Facebook')" href="https://www.facebook.com/CPFBoard" target="_blank" title="CPF Board official Facebook" class="social-link padding--right" rel="noreferrer"><span class="sgds-icon sgds-icon-facebook is-size-4"></span></a>
                        <a class="onclicks" onclick="ga('send', 'event', 'MembersSocialMediaIcon', 'IconClick', 'CPF Board official Instagram')" href="https://www.instagram.com/cpf_board/" target="_blank" title="CPF Board official Instagram" class="social-link padding--right" rel="noreferrer"><span class="sgds-icon sgds-icon-instagram is-size-4"></span></a>
                        <a class="onclicks" onclick="ga('send', 'event', 'MembersSocialMediaIcon', 'IconClick', 'CPF Board official YouTube')" href="https://www.youtube.com/user/CPFvideos" title="CPF Board official YouTube" target="_blank" class="social-link padding--right" rel="noreferrer"><span class="sgds-icon sgds-icon-youtube is-size-4"></span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row is-flexable divider ROWS">
            <div class="col is-two-thirds colomns">
                <ul class="is-paddingless onclicks4">
                    <li class="LI"><a class="onclicks" onclick="ga('send', 'event', 'MembersFooter3', 'FooterClick', 'Privacy Statement')" href="/members/others/member-pages/Privacy-statement">Privacy Statement</a></li>
                    <li class="LI"><a class="onclicks" onclick="ga('send', 'event', 'MembersFooter3', 'FooterClick', 'Terms of Use ')" href="/members/others/member-pages/terms-of-use">Terms of Use</a></li>
                    <li class="LI"><a class="onclicks" onclick="ga('send', 'event', 'MembersFooter3', 'FooterClick', 'Best Security Practices')" href="/members/others/member-pages/best-security-practices">Security Best Practices</a></li>
                </ul>
            </div>
            <div class="col is-one-third has-text-right-desktop has-text-right-tablet has-text-left-mobile colomns">
                <p id="copyright">© 2019 Government of Singapore</p>
                <p id="lastUpdatedText">Last updated on 30 July 2019</p>
            </div>
        </div>
    </div>
</footer>