<div class="wholetransactionhistory">
    <app-header-transaction-modified></app-header-transaction-modified>
    <div class="transactionhistory">

<!-- <div class="table-responsive Table">
    <table class="table table-striped table-bordered TABLE Table">
     <thead style="text-align:center">
       <tr>
         <th scope="col" style="width:40%">Transaction ID</th>
         <th scope="col" style="width:22%">Gross Service Fee</th>
         <th scope="col">Medisave Payable</th>
         <th scope="col">Net Service Fee</th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td style="width:35%"><p><a href="">CAYERFD00002</a> (Bank)</p>
          <p class="refund10thaugust">Refund - 10 AUG 2018</p>
        </td>
         <td>$ -</td>
         <td>$ (5.00)</td>
         <td style="width:24%">$ -</td>
       </tr>
       <tr>
        <td style="width:35%"><p><a href="">CAYERFD00001</a> (Bank)</p>
          <p class="refund10thaugust">CAYE Contribution - 15 AUG 2018</p>
        </td>
         <td>$ 100.00</td>
         <td>$ 5.00</td>
         <td>$ 95.00</td>
       </tr>
       <tr>
         <td style="width:35%"><p><a href="">CAYEPMT00003</a> (Online DDA)</p>
          <p class="refund10thaugust">CAYE Contribution - 15 OCT 2018</p>
        </td>
         <td>$ 100.00</td>
         <td>$ 5.00</td>
         <td>$ 95.00</td>
       </tr>
       <tr>
         <th style="width:35%">Total Amount:</th>
         <th>$ 200.00</th>
         <th>$ 5.00</th>
         <th>$ 190.00</th>
       </tr>
       </tbody>
    </table>
   </div> -->


   <table role="table" class="table-bordered TABLE">
      <thead role="rowgroup">
        <tr role="row">
            <th scope="col" style="width:40%">Transaction ID</th>
            <th scope="col" style="width:22%">Gross Service Fee</th>
            <th scope="col" style="width:24%">Medisave Payable</th>
            <th scope="col">Net Service Fee</th>
        </tr>
      </thead>
      <tbody role="rowgroup">
        <tr role="row">
            <td style="width:35%"><p class="cayebankrefund"><a href="">CAYERFD00002</a> (Bank)</p>
              <p class="refund10thaugust2">CAYE Contribution - 15 AUG 2018</p>
            </td>
             <td>$ -</td>
             <td>$ (5.00)</td>
             <td>$ -</td>
        </tr>
        
      </tbody>
    </table>


   <!-- <table role="table" class="table-bordered TABLE">
      <thead role="rowgroup">
        <tr role="row">
          <th scope="col" style="width:40%">Transaction ID</th>
         <th scope="col" style="width:22%">Gross Service Fee</th>
         <th scope="col" style="width:24%">Medisave Payable</th>
         <th scope="col">Net Service Fee</th>
        </tr>
      </thead>
      <tbody role="rowgroup">
        <tr role="row">
            <td style="width:35%"><p class="cayebankrefund"><a href="">CAYERFD00002</a> (Bank)</p>
              <p class="refund10thaugust2">CAYE Contribution - 15 AUG 2018</p>
            </td>
             <td>$ -</td>
             <td>$ (5.00)</td>
             <td>$ -</td>
        </tr>
      </tbody>
    </table> -->
  



<!-- 
   <hr class="horizontalinegreen">
<div class="pagination" >
<span class="showing14">Showing 1-4 of 4</span>
</div>
<div class="paginatio">
<a href="#" class="pageleft">&lt;&lt;</a>
<a href="#" class="pageleft">|</a>
<a href="#" class="pageleft">&lt;</a>
<a href="#" class="pageleft">Page</a>
<a href="#" class="pageleft">1</a>
<a href="#" class="pageleft">of 1</a>
<a href="#" class="pageleftgo">Go</a>
<a href="#" class="pageleft">&gt;</a>
<a href="#" class="pageleft">|</a>
<a href="#" class="pageleft">&gt;&gt;</a>
</div> -->


</div>
</div>