
<app-header></app-header>

<div>

  <div class="column-3">
  <div class="aside">
    <h6 style="padding:15px 15px 0px 15px">Service Buyers</h6>
    <h6 style="padding:0px 15px 1px 15px">Online Services</h6>
    <div style="background-color:grey; width:100%; padding:1px 15px 0px 15px">
    <a style="padding:1px 0px 4px 0px">Contribute As You Earn Scheme</a>
  </div>
  <div class="sidebar" >

  </div>
  </div>
  </div>
  
  <h5 style="padding:25px 0px 10px 0px; margin-left:10px; color:#49712d;font-weight:800">Business Partner Portal Services</h5>

  <div id="container">
  <div class="box1">
    <h6 style="font-size:15px">Welcome</h6>
    <h6 style="font-size:17px;font-weight:530">NANYANG POLYTECHNIC</h6>
    <h6 style="font-size:15px;font-weight:530">UEN ID:1992123456</h6>
    <br/>
    <p>Your last login using CorpPass was on Wednesday, 13 August 2018 at 12:38:11 PM (Singapore Standard Time)</p>
  </div>
  <div class="box2">
<h6>Did you know....?</h6>
<br/>
<ul>
  <li>  Come to our CPF Retirement Planning Roadshows and discover how you can make the most of your CPF SAvings! Details here.</li>
  <br/>
  <li>  Make the most of your CPF savings....</li>
</ul>
  </div>

</div>
<br/>

<div class='componentWrapper'>
  <div class="header">
    Other Matters
  </div>

</div>

</div>
