<app-header-makecaye></app-header-makecaye>
<div id="container">
    <h4 class="heading">
        Drafts for CAYE Contribution Submissions
      </h4>
      <p style="color:#49712d; background-color:rgb(199, 239, 199); padding:10px 570px 10px 10px"><b>Save Successful:</b>You have successfully saved your submission(s).</p>
      <p ><b>Important Notes</b></p>
      <div class="notes">
      <ul style="margin-bottom:0px;padding-left:20px">
        <li style="margin-bottom: 5px;">Please select the 'Draft Reference No.' if you would like to continue.</li>
        <!-- <br/> -->
        <li style="margin-bottom: 5px;">Each draft will be kept for XX days from the last saved date.</li>
        <!-- <br/> -->
        <li style="margin-bottom: 5px;">Drafts are not considered approved submissions.</li>
      </ul>
    </div>
      </div>
