<app-header-makecaye-modified></app-header-makecaye-modified>

<div class="wholeacknowledge">
<div class="acknowledgementwhole">
    <hr class="horizontal">
  <div class="acknowledge">
    <p class="acknowledgement">Acknowledgement</p>
  </div>

<div class="transaction">
  <p class="transactionsuccessful"><b>Transaction Successful:</b> You have successfully submitted your application for CAYE CSN.</p>
</div>



<table role="table" class="table-bordered TABLE">
    <thead role="rowgroup">
      <tr role="row">
          <th scope="col">Service Name</th>
          <th scope="col">Transaction No</th>
          <th scope="col">Transaction Date</th>
      </tr>
    </thead>
    <tbody role="rowgroup">
      <tr role="row">
          <td>Make CAYE Contribution into MediSave Account</td>
          <td>CAYECSN1234567D</td>
          <td>01/08/2018, 12:34:56PM</td>
      </tr>

    </tbody>
  </table>



<div class="thank">
  <p class="thankyou">Thank You.</p>
</div>

<div class="container gridcontainer">
    <div class="row">
      <div class="GRID">
        <p class="yourapplication">
          Your request will be processed within our <a href="" class="status">Service Standards.</a>
      </div>
      <div class="GRID">
        <p class="checkstatus">
          Check the <a href="" class="status">status</a> of your payment.</p>
          <!-- Meanwhile you may check the
          of your application or view our <a class="servicestandard">Service Standards</a> online.</p> -->
        </div>
        <div class="GRID">
          <p class="visitwebsite">
            Download a copy of your CAYE contribution in CSV | PDF
          </p>
        </div>
        <div class="GRID">
        <p class="visitwebsite">

          If you have any questions about CAYE or the Self-Employed Scheme, please visit
          <a class="status">www.cpf.gov.sg</a> or call us at 1800 - 227 - 1188 from Modays to Fridays (8.00am to 5.30pm).</p>
        </div>
        </div>
  </div>

<div class="horizontalline">
    <hr>
</div>

<div class="BACKTOMAIN">
  <a  href="cayecontribution" class="backtomain">Back to Main</a>
</div>

 </div>
</div>
<app-footernew></app-footernew>
<!--
Your request will be processed within our Service Standards.
Check the status of your payment.
Download a copy of your CAYE contribution in CSV | PDF
If you have any questions about CAYE
 or the Self-Employed Scheme, please visit www.cpf.gov.sg or call us at
 1800 - 227 - 1188 from Mondays to Fridays (8am to 5.30pm) -->
