<app-header-makecaye></app-header-makecaye>
<div class="rightcolumn">
  <div class="LIST">
  <!-- <p class="wel">Welcome, NANYANG POLYTECHNIC (UEN:1992123456)</p> -->
  <hr class="style1">
  <h4 class="heading">
      Make CAYE Contribution
    </h4>
  <div style="width:100%; padding:1px 15px 0px 15px;">
      <span class="step1" >Step</span>
       <span class="step2" >Step</span>
       <span class="step3" >Step</span><br/>
      <span  class="dot1">1</span> <span class="dot2">2</span><span class="dot3">3</span>
   <br/>
    </div>

    <p style="background-color: #49712d; color: white; padding: 10px;font-size: 18px">Acknowledgement</p>
<p class="message"><b>Transaction Successful:</b> You have successfully submitted your CAYE contribution</p>

  <!-- <h5 class="H5">Acknowledgement</h5> -->

  <b>Thank You.</b>
  <p>Your request will be processed within our <a href="" style="text-decoration:underline">Service Standards.</a></p>
  <p>Check the <a href="" style="text-decoration:underline">status</a> of your payment.</p>
  <p>Download a copy of your CAYE contribution in  <a href="" style="text-decoration:underline">Excel</a>  |  <a href="" style="text-decoration:underline">PDF</a></p>
  <div class="table-responsive">
  <table class="table table-bordered ">
    <thead>
      <tr>
        <th scope="col">Service Name</th>
        <th scope="col">Transaction Number</th>
        <th scope="col">Transaction Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Make CAYE Contributions into MediSave Account</td>
        <td>CAYE0075384</td>
        <td>01/08/2018, 12:34:56PM</td>
      </tr>
    </tbody>
  </table>
  </div>
      <!-- <div>
        <p class="P1">Your request will be processed within our</p>
        <p class="Service"> <a href="#" > Service Standards.</a></p>
      </div>

      <div>
        <p class="P1">You may check the <a href="#">status</a> of your payment.</p>
      </div> -->

      <div>
        <p class="P1">If you have any questions about CAYE or the Self-Employed Scheme,
          please visit <a href="#">www.cpf.gov.sg </a>or call us on 1800-227 1188
          from Mondays to Fridays (8am to 5.30pm).</p>
      </div>
      <hr class="style1">
      <button style="padding: 5px 12px;
      background-color: #8080808f;
      border: none;" (click)="AppSuccess()">Back to Main</button>
      <!-- <div>
        <a href="userpage">Back to Main</a>
      </div> -->

      <!-- <div>
      <a href="#" style="float:right;margin-top:-22px;margin-right:20px"><span style="color:red;margin-right:20px">*</span>Rate this Service</a>

      </div> -->
      <br><br>
</div>
</div>
