<div class="bodywidth">
<app-header-reglogin></app-header-reglogin>

<div class="LIST">
    <!-- <p class="wel">Welcome, NANYANG POLYTECHNIC (UEN:1992123456)</p> -->
</div>
<hr class="style1" style="margin-top:0; margin-bottom:0;">
<div id="container">

  <div class="CONTRIBUTE">
    <p class="CAYE">Contribute As You Earn Scheme (CAYE)</p>
  </div>

  <div class="QUICK">
  <p class="quick">Quick Links</p>
</div>

<div class="container">
    <div class="row">

      <div class="col-sm">
        <a href="cayecontribution"><img src='../../assets/MAKECAYECONTRI.PNG' class="statement"></a>
      </div>

      <div class="col-sm">
          <a href="transactionhistory"><img src='../../assets/ViewPayment.PNG' class="statement1"></a>
      </div>

      <div class="col-sm">
          <a href=""><img src='../../assets/RequestRefund (2).PNG' class="statement2"></a>
      </div>

    </div>
  </div>
  <div class="table-responsive">
  <table class="table ">
      <thead class="thead-light">
        <tr>
          <th scope="col">CSN</th>
          <th scope="col" class="AMOUNT">Gross Service Fee</th>
          <th scope="col" class="AMOUNT">Medisave</th>
          <th scope="col" class="AMOUNT">Net Service Fee</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td><a href="" style="text-decoration:underline">School of Engineering</a></td>
          <td class="AMOUNT">$ 88853.00</td>
          <td class="AMOUNT">$ 900.00</td>
          <td class="AMOUNT">$ 87953.00</td>
        </tr>
        <tr>
            <td><a href="" style="text-decoration:underline">School of Business</a></td>
          <td class="AMOUNT">$ 1681.00</td>
          <td class="AMOUNT">$160.00</td>
          <td class="AMOUNT">$1521.00</td>
        </tr>
      </tbody>
    
    
   
      <thead class="thead-dark">
        <tr>
          <th scope="col" class="AMOUNT2">Total CAYE Payments</th>
          <th scope="col" class="AMOUNT1">$ 90534.00</th>
          <th scope="col" class="AMOUNT1">$ 1060.00</th>
          <th scope="col" class="AMOUNT1">$ 89474.00</th>
        </tr>
      </thead>
    </table>
    </div>
</div>
</div>