<div class="bodywidth">
<app-header-reglogin></app-header-reglogin>

<div class="LIST">
    <!-- <p class="wel">Welcome, NANYANG POLYTECHNIC (UEN:1992123456)</p> -->
</div>
<hr class="style1" style="margin-top:0; margin-bottom:0;">
<div id="container">

  <div class="CONTRIBUTE">
    <p class="CAYE">Contribute As You Earn Scheme (CAYE)</p>
  </div>

  <div class="QUICK">
  <p class="quick">Quick Links</p>
</div>

<div class="container">
    <div class="row">

      <div class="col-sm">
        <a href="cayecontribution"><img src='../../assets/MAKECAYECONTRI.PNG' class="statement"></a>
      </div>

      <div class="col-sm">
          <a href="transactionhistory"><img src='../../assets/ViewPayment.PNG' class="statement1"></a>
      </div>

      <div class="col-sm">
          <a href=""><img src='../../assets/RequestRefund (2).PNG' class="statement2"></a>
      </div>

    </div>
    
  </div>
  <p class="MyCaye">My CAYE contribution Drafts</p>
  <div class="card">
      <div class="card-body">
      <p style=" cursor: pointer;">You have <a href="" style="text-decoration: underline;">2</a> drafts</p>
      <p id="rcorners3"></p>
      </div>
     
    </div>

    <p class="MyPending">My Pending CAYE Transaction</p>
    <div class="card cardTransaction">
        <div class="card-body">
        <p>No Pending Transaction</p>
        <p id="rcorners3"></p>
        </div>
      </div>

      <div class="SuccessfulPayment">
        <p>Successful Payments for last 3 months (Aug-2018 - Oct-2018)</p>
      </div>

  <div class="table-responsive">
  <table class="table ">
      <thead class="thead">
        <tr>
          <th scope="col">CSN Name</th>
          <th scope="col" class="AMOUNT">Fees</th>
          <th scope="col" class="AMOUNT"></th>
          <th scope="col" class="AMOUNT"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td><a href="" style="text-decoration:underline">School of Engineering</a></td>
          <td class="AMOUNT"> <p class="TotalService">Total Sevice:</p> $ 88853.00</td>
          <td class="AMOUNT"><p class="TotalService">Net Sevice:</p>$ 900.00</td>
          <td class="AMOUNT"><p class="TotalService">Medi Sevice:</p>$ 87953.00</td>
        </tr>
        <tr>
            <td><a href="" style="text-decoration:underline">School of Business</a></td>
          <td class="AMOUNT"><p class="TotalService">Total Sevice:</p>$ 1681.00</td>
          <td class="AMOUNT"><p class="TotalService">Net Sevice:</p>$160.00</td>
          <td class="AMOUNT"><p class="TotalService">Medi Sevice:</p>$1521.00</td>
        </tr>
      </tbody>
    
    
   
      <thead class="thead TableFooter">
        <tr>
          <th scope="col" class="AMOUNT2">Total CAYE Payments</th>
          <th scope="col" class="AMOUNT1"><p class="TotalService">Total Sevice:</p>$ 90534.00</th>
          <th scope="col" class="AMOUNT1"><p class="TotalService">Net Sevice:</p>$ 1060.00</th>
          <th scope="col" class="AMOUNT1"><p class="TotalService">Medi Sevice:</p>$ 89474.00</th>
        </tr>
      </thead>
    </table>
    </div>
</div>
</div>