
  <app-header-modified></app-header-modified>
  <div class="wholeapplycaye">
<div class="applycayehtml">
  <div>
  <p class="heading">
    Apply for CAYE CPF Submission Number (CSN)
  </p>
  </div>
<div class="CAYECSN">
  <p class="cayecsn">CAYE CSN</p>
</div>
<div class="CAYESEP">
  <p class="cayesep">This form is only applicable if you wish to apply a new Contribute-As-You-Earn (CAYE)
     CSN to make CAYE contributions to the Self-Employed Persons (SEPs) you engaged.
  </p>
</div>
<div class="important">
    <p class="importantnote">Important Notes</p>
  </div>

  <div class="container gridcontainer">
      <div class="row">
        <div class="col">
          <ul class="list">
         <li class="COMPLETEFORM"> <p  class="completeform">This form may take you 5 minutes to complete.</p></li>
         <li class="COMPLETEFORM2"> <p class="yourrequest">Your request will be processed within <b> XX </b> working days</p></li>

        <li class="COMPLETEFORM3"> <p class="servicebuyers">Service buyers and intermediaries are required to apply for a
            CAYE CSN before CAYE contributions can be made to SEPs.
          </p></li>

         <li class="COMPLETEFORM4"> <p  class="allfields">
              All fields marked with <a style="color: #FF0000">*</a> are mandatory.
          </p></li>
        </ul>
            </div>
      </div>
    </div>

    <div class="problems">
      <p class="problemseservice">
          If you encounter any problems with this e-Service,
          please <a class="status"> contact us</a>. Please click <a class="servicestandard"> here</a> for more information on CAYE.
      </p>
    </div>

    <div class="AUTOFILL">
      <p class="autofillrequest">Auto-fill Requestor's Details</p>
    </div>
    <form>
    <div class="container gridcontainer2">
        <div class="row">
          <div class="col">
           <p class="autofillapplication">Do you want to auto-fill the application form with your contact details from my cpf?</p>
           <label class="radio-inline yesradiobutton">  <input type="radio" name="yes" value="yes" checked> Yes</label>
           <label class="radio-inline noradiobutton"> <input type="radio" name="no" value="no" > No</label>
          </div>
        </div>
      </div>
    </form>
      <div class="BUTTON">
          <button type="button" class="btn btn-primary btn-sm BUT1" (click)="Next()">Start</button>
      </div>

</div>
