
<app-header-makecaye-modified></app-header-makecaye-modified>
<div class="bodywidth">
<div >
  <!-- <div><span class="dot" style="margin-left:66%"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span> </div>
  <p style=" margin-left:18%;margin-bottom:0px"><b> Welcome NANYANG POLYTECHNIC </b>(UEN:1992123456) </p> -->
  <div id="container">
    <p class="heading1">
      Make CAYE Contribution
    </p>
    <p style="margin-bottom:0px;font-size:16px;"><b>CAYECON</b></p>
    <p class="info">This form is only applicable if you wish to make CAYE contributions to the
      Self-Employed Persons (SEPs) engaged by you. This form is not applicable to you
      if you wish to make contributions via our appointed bank, which will compute,
      split and credit the service fee and MA contribution on your behalf.
    </p>
    <p style="font-size:18px"><b>Important Notes</b></p>
    <div class="notes">
    <ul style="margin-bottom:0px">
      <li class="notepoints" >This form may take you 10 minutes to complete.</li>
      <!-- <br/> -->
      <li class="notepoints" >Your request will be processed within xx working days.</li>
      <!-- <br/> -->
      <li class="notepoints">Payment can be made via direct debit or eNets.</li>
      <!-- <br/> -->
      <li class="notepoints">All fields marked with <span style="color:red">*</span> are mandatory.</li>
    </ul>
  </div>
    <p style="margin-top:20px;font-size:16px;margin-bottom:20px">If you encounter any problems with this e-Service,
        please <span style="color:#0070C0"><u>contact us</u></span>.</p>


  <button class="submitbtn" (click)="start()" type="submit">Start</button>
  <button class="Draftbtn" (click)="draft()" type="submit">View Drafts (2)</button>
  <button class="Deductionbtn" (click)="deduction()"  type="submit">Amend Transaction (2)</button>
    </div>
  <div style="margin-bottom:2%"></div>
</div>
</div>
<app-footernew></app-footernew>
