
  <nav class="navbar navbar-expand-sm navbar-light bg-secondary "  style="padding:0">
    <div class="navbar-brand" href="#">
    <img src='../../assets/Singapore_Govt.png' width=60px; height=35px; class="imagepos" >
      <span class="navbar-text" style="font-size:15px;color:black">
    A Singapore Government Agency Website
  </span>
</div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light"  style="padding:0">
  <a class="navbar-brand" style="padding:0" ><img src='../../assets/CPF_Board.png' width=150px;  style="padding:0;height:52px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" style="margin-left:70px;margin-right: 25px;font-weight:bold">Employer Guide </a>
      </li>
     
      <li class="nav-item active">
        <a class="nav-link" style="margin-right: 25px;font-weight:bold" >Tools</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link services" style="color: #49712d;" >Services <span class="sr-only">(current)</span></a>
        </li>
      <!-- <li class="nav-item active">
        <a class="nav-link" >About Us</a>
      </li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
      <a class="nav-link" style="font-weight:bold">Login</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" (click)="logout()"> <i class="far fa-user" style="margin-left:25px; margin-right:25px;color:#4d4de6"></i> </a>
    </li>
    <li class="nav-item active">
        <a class="nav-link"> <i class="fas fa-search" style="margin-right:25px;"></i> </a>
    </li>
    </ul>
      
    </form>
  </div>
</nav>


<!-- <nav class="navbar navbar-light bg-light menuGreen " style="height:40px; ">
  <a class="navbar-text" href="homepage" style="color:white;margin-left:15px;margin-top:-7px">

    Main Menu
  </a>
<button class="logoutbtn" (click)="logout()">Logout
   <img src='../../assets/logout.png' width="25px" height="20px" style="margin-bottom: 1px;margin-left:10px;">
 </button>

</nav> -->


    <div class="column-3">
    <div class="aside">
      <a class="serprovider">Service Buyers</a><br/>
      <a class="onlineser">Online Services</a>
      <br/>
      <!-- <div style="background-color:#b7b5b5; width:100%; padding:1px 15px 0px 15px;"> -->
      <a   style="padding:1px 0px 4px 0px;font-size:15px; color:black; "><i class="arrow down"   style="  float: left;
        margin-left: 10%;
        margin-top: 2%;"></i> <p style="text-align-last: left;
        margin-left: 18%;
        margin-right: 17px;
        font-weight: bold;
        margin-bottom: 1%;">  Contribute As You Earn Scheme</p></a>
      <!-- <br/> -->
      <a  style="padding: 1px 0px 4px 0px;
      font-size: 15px;
      color: black;
      text-align: justify;
      margin-left: -17px;">Update Particulars</a>
      <br/>
      <div style="background-color: #464545;
      width: 94%;
      padding: 1px 0px;
      margin-left: 7px;">
      <a  style="padding:1px 0px 4px 0px;font-size:15px; color:white; margin-left:-33%;">Make CAYE</a>
      <br/>
      <a  style="padding:1px 0px 4px 0px;font-size:15px; color:white; margin-left:-27%;">Contributions</a>
      <!-- <span>Contributions</span> -->
      </div>
      <!-- <br/> -->
      <a  style="padding:1px 0px 4px 0px;font-size:15px; color:black; margin-left: 27px;">View Transaction History</a>
      <br/>
      <a  style="padding:1px 0px 4px 0px;font-size:15px; color:black;margin-left:14px;">View Payment Records</a>
      <br/>
      <a  style="padding:1px 0px 4px 0px;font-size:15px; color:black;margin-left:-30px">Request Refund</a>

<div class="sidebar" >

</div>
    </div>
  </div>
  <div><span class="dot1" ></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span> 
    <span class="dot"></span> </div>
  <p style=" margin-left:18%;margin-bottom:0px"><b> Welcome NANYANG POLYTECHNIC </b>(UEN:1992123456) </p>
 
<!-- old code -->

<!-- <mat-toolbar id="row1">
  <img src='../../assets/Singapore_Govt.png' width=60px; height=35px; style="margin-left:3%" >
  <h6>A Singapore Government Agency Website</h6>
</mat-toolbar>

<mat-grid-list cols="10" >
  <mat-grid-tile colspan="2" style="margin-left:0%"><img src='../../assets/CPF_Board.png' width=150px; height=70px;></mat-grid-tile>

  <mat-grid-tile>CPF Schemes</mat-grid-tile>
  <mat-grid-tile>Services</mat-grid-tile>
  <mat-grid-tile>Tools</mat-grid-tile>
  <mat-grid-tile>About Us</mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
<mat-grid-tile colspan="3">
  <mat-form-field appearance="outline">
  <mat-label>Search</mat-label>
  <input matInput  >
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
</mat-grid-tile>
</mat-grid-list>

<mat-toolbar id="row2">

    <h6 style="margin-left:20px">Main Menu</h6>
    <span class="spacer"></span>
    <button style="padding:11px 20px 8px 35px;background-color:rgb(63, 62, 62);border:none;color:white;margin-right: -15px;font-size:16px;">Logout         <img src='../../assets/logout.png' width="25px" height="20px" style="margin-bottom: -3px;margin-left:10px;"></button>
  </mat-toolbar>

  -->

<!-- <div class="container"> -->
  <!-- <div class="container-fluid"> -->
