<app-header-after></app-header-after>
<br/>


  <div class="LIST">
  <p class="wel">Welcome, NANYANG POLYTECHNIC (UEN:1992123456)</p>
  <hr class="style1">
  
    <p class="Contribute">CAYE Refund Request</p>
    <a href="" class="Download">Download | Print</a>
    <div class="row">
      <div class="col-md-4"><b> CPF Submission No.</b></div>
      <div class="col-md-4 Submit">1992123456-MSE-01</div>
    </div>
    <div class="row">
      <div class="col-md-4"><b> CService Provider</b></div>
      <div class="col-md-4 Submit">Nanyang Polytechnic </div>
    </div>
    <div class="row">
      <div class="col-md-4"><b> Submitter NRIC/FIN</b></div>
      <div class="col-md-4 Submit">S1234123A</div>
    </div>
    <div class="row">
      <div class="col-md-4"><b> Date of Refund Request</b></div>
      <div class="col-md-4 Submit">15 September 2018</div>
    </div>
    <div class="row">
      <div class="col-md-4"><b> Bank Account</b></div>
      <div class="col-md-4 Submit">OCBC Account ending with 2345</div>
    </div>
    <div class="row">
      <div class="col-md-4"><b> Refund Status</b></div>
      <div class="col-md-4 Submit">Approved</div>
    </div>
    <hr class="LINE">
    <div class="table-responsive">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">CPF Account No.</th>
          <th scope="col">CPF Transaction ID</th>
          <th scope="col">MediSave Paid ($)</th>
          <th scope="col">Co. Payment Ref No</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>S9999999Z</td>
          <td>CAYEPMT0001</td>
          <td>100.00</td>
          <td>AB12345</td>
        </tr>
        </tbody>
        </table>
      </div>
        <p class="bottom">Refund Reason(s)</p>
        <p class="Paid">Paid in error</p>

        <p class="bottom">Attachment</p>
        <p class="Paid">SupportingDoc.pdf</p>

        <p class="bottom">Terms and Conditions:</p>
        <p class="Paid">PIf the refund request is successful, the refund amount will be credited to your DBS bank account
           ending with 1234 within xx working days</p>

           <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" checked=checked>
              <label class="form-check-label" for="exampleCheck1">I agree to the terms and conditions stated above.</label>
            </div>
            <button type="button" class="btn btn-secondary Button" (click)="back()">Back</button>

</div>