<app-header></app-header>
<br/>
<!-- <div class="leftcolumn" >
  <div class="card">

    <div class="card-body">
      <h5 class="card-title">Service Buyers Online Services</h5>
      <div style="background:#bfc3cc;width:200px;margin-left:-20px">
      <a href="#" style="margin-top:20px;font-size:15px;color:black;">Contribute As You Earn Scheme</a>
    </div>
    </div>


  </div>

  </div> -->

<div class="rightcolumn">
  <div class="LIST">
  <p class="wel">Welcome, NANYANG POLYTECHNIC (UEN:1992123456)</p>
  <hr class="style1">
  <h5 class="H5">Acknowledgement</h5>
  <br>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Service Name</th>
        <th scope="col">Transaction Number</th>
        <th scope="col">Transaction Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Apply for CAYE CPF Submission Number</td>
        <td>CAYECSN1234567D</td>
        <td>01/01/2020 12:34:56PM</td>
      </tr>
    </tbody>
  </table>
      <div>
        <p style="font-weight:bold">This application will take xx days to process.</p>
      </div>
      <div>
        <p>You may check the <a href="#">status</a> of your application.</p>
      </div>

      <div>
        <p>You may view our <a href="#">Service Standards</a> online.</p>
      </div>

      <div>
        <p>If you have any questions about CAYE or the Self-Employed Scheme,
          please visit <a href="#">www.cpf.gov.sg </a>or call us on 1800-227 1188
          from Mondays to Fridays (8am to 5.30pm).</p>
      </div>
      <hr class="style1">
      <div>
        <a href="#">Back to Main</a>
      </div>

      <div>
      <a href="#" style="float:right;margin-top:-22px;margin-right:20px"><span style="color:red;margin-right:20px">*</span>Rate this Service</a>

      </div>
      <br><br>
</div>
</div>
