<app-header-after></app-header-after>
<div class="rightcolumn">
  <div class="LIST">
  <!-- <p class="wel">Welcome, NANYANG POLYTECHNIC (UEN:1992123456)</p> -->
  <hr class="style1">
  <p class="CSN_SUBMISSION">Apply for CAYE CPF Submission Number (CSN)</p>
<p><b>CAYE CSN</b></p>
<div style="width:100%; padding:1px 15px 0px 15px;">
  <span class="step1" >Step</span>
   <span class="step2" >Step</span>
   <span class="step3" >Step</span><br/> 
  <span  class="dot1">1</span> <span class="dot2">2</span><span class="dot3">3</span>
<br/>
</div>
<div class="ACK">
  <h5 class="H5">Acknowledgement</h5>
</div>
  

  <div class="TRANSACTION">
    <p class="transaction"><b class="BOLD">Transaction Successful: </b> You have successfully submitted your application. 
    for CAYE CSN</p>
  </div>
    <br>
    <h5>Thank You</h5>
    <div>
        <!-- class="P" -->
      <p >This application will take <b>XX</b> days to process.</p>
    </div>
    <div>
        <!-- class="P1" -->
      <p >Meanwhile, you may check the <a href="SubmitStatus">status</a> of your application or view our <a href="" style="text-decoration:underline;">Service Standards</a> online.</p>
    </div>

  <table class="table table-bordered ">
    <thead>
      <tr>
        <th scope="col">Service Name</th>
        <th scope="col">Transaction Number</th>
        <th scope="col">Transaction Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Apply for CAYE CPF Submission Number</td>
        <td>CAYECSN1234567D</td>
        <td>01/01/2020 12:34:56PM</td>
      </tr>
    </tbody>
  </table>
      <!-- <div>
        <p class="P">This application will take xx days to process.</p>
      </div>
      <div>
        <p class="P1">You may check the <a href="#">status</a> of your application.</p>
      </div> -->

      <!-- <div>
        <p class="P1">You may view our <a href="#">Service Standards</a> online.</p>
      </div> -->

      <div>
          <!-- class="P1" -->
        <p >If you have any questions about CAYE or the Self-Employed Scheme,
          please visit <a href="#">www.cpf.gov.sg </a>or call us on 1800-227 1188
          from Mondays to Fridays (8am to 5.30pm).</p>
      </div>
      <hr class="style1">
      <div>
       <button class="button"><a style="color: black" href="homepage">Back to Main</a></button> 
      </div>

      <!-- <div>
      <a href="#" style="float:right;margin-top:-22px;margin-right:20px"><span style="color:red;margin-right:20px">*</span>Rate this Service</a>

      </div> -->
      <br><br>
</div>
</div>
