<app-header></app-header>


      <div>



        <h5 style="padding:25px 0px 10px 0px; margin-left:10px; color:#49712d;font-weight:800">Apply for CAYE CPF Submission Number</h5>
        <p style="font-size:13px;margin-left:15px">CAYECSN</p>
        <div id="container">

        <div class="stepwizard">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step">step1
                    <a href="#step-1"  class="btn btn-default btn-circle btn-light" disabled="disabled">1</a>
                </div>
                <div class="stepwizard-step">step2
                    <a href="#step-2"  class="btn btn-light btn-circle1">2</a>
                </div>

            </div>
        </div>
        <div>
          <h6 class="H">Part 1: Requestor’s Particulars</h6>
          <p class="P">NRIC/Foreign Identification Number</p>
          <p class="P1">PASSPORT-123-12345</p>

          <h6 class="P2">Name</h6>
          <p class="P4">Name of PASSPORT-123-12345</p>

          <h6 class="P2">Designation</h6>
          <p class="P4">Director</p>
          <p class=" L1">Telephone (Office)* </p>
          <p class="L3">61234567</p>
          <p class="L2">Mobile*</p>
          <p class="L4">61234567</p>

          <h6 class="L5">Email</h6>
          <p class="P4">William@nyp.edu.sg</p>

          <!-- <br>
                <button type="button" class="btn btn-secondary btn-sm BUT" (click)="goBack()">Back</button>
                <button type="button" class="btn btn-primary btn-sm" style="margin-left:15px;margin-top:-15px;width:80px" (click)=Summary2()>Next</button> -->

        </div>



      </div>
      <hr class="HR">
      <div>
        <h6 class="H1">Part 2: Entity Information</h6>
        <p class="P11">Unique Entity Number</p>
        <p class="P11">1992123456</p>

        <p class=" L11">Entity Name</p>
        <p class="L31">Nanyang Polytechnic</p>
        <p class="L21">CSN Name</p>
        <p class="L41">School of Engineering</p>

        <!-- <h6 class="P2">Designation</h6>
        <p class="P4">Director</p> -->
        <br>
        <p class=" L11">Telephone (Office)</p>
        <p class="L31">61234567</p>
        <p class="L21">Mobile</p>
        <p class="L41">8123432</p>

        <h6 class="L51">Company Address</h6>
        <p class="P42">180 Ang Mo Kio Ave 8 Singapore 555180</p>

        <br>
              <button type="button" class="btn btn-secondary btn-sm BUT1" (click)="goBack()">Back</button>

              <button type="button" class="btn btn-primary btn-sm  BUT2"  (click)="acknowledge()">Submit</button>

      </div>

      <br/>



      </div>







<!--
<app-header></app-header>
<div>
  <div class="leftcolumn" >

    <mat-card class="example-card">
      <mat-card-header>
        <p>Service Buyers
          Online Services</p>
      </mat-card-header>
      <mat-card-content id="row1">
        <a href="#">Contribute As You Earn Scheme</a>
      </mat-card-content>
    </mat-card>

    </div>
    <div class="rightcolumn">
      <mat-list class="LIST">
  <mat-list-item >Welcome, NANYANG POLYTECHNIC (UEN:1992123456)</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><p style="color:#3e8247">Contribute As You Earn Scheme (CAYE)</p></mat-list-item>
  <mat-list-item class="Item">Your request cannot be processed as you do not have a CPF Submission Number for CAYE.</mat-list-item>

  <mat-divider class="DIV"></mat-divider>
  <mat-list-item><p>Related Links</p></mat-list-item>
  <a href="#" style="font-size:15px">Apply for CAYE CPF Submission Number</a>
  </mat-list>

  </div>

    </div> -->
