<div class="bodywidth">

    <app-header-after></app-header-after>
    
    <div>
    
      
      <div id="container">
      <h4 class="heading">
        Apply for CAYE CPF Submission Number (CSN)
      </h4>
        <p style="font-size:20px;margin-left:10px;font-weight: 500">CAYE CSN</p>
        

        <div class="box1">
          <!-- <span class="step1" >Step</span> -->
           <span class="step2" >Step</span>
           <span class="step3" >Step</span><br/> 
          <!-- <span  class="dot1">1</span> -->
           <span class="dot2">1</span><span class="dot3">2</span>
       <br/>
        </div>
        <!-- <div class="ACK">
          <h5 class="H5">Verify & Submit Particulars</h5>
        </div> -->
        <hr class="horizontal1">
  
        <div>
             
          <h6 class="H">Part 1: Requestor’s Particulars</h6>
          <p class="P">NRIC/Foreign Identification Number</p>
          <p class="P1">PASSPORT-123-12345</p>

          <h6 class="P2">Name</h6>
          <p class="P4">Name of PASSPORT-123-12345</p>

          <!-- <h6 class="P2">Designation</h6>
          <p class="P4">Director</p>
          <p class=" L1">Telephone (Office)* </p>
          <p class="L3">61234567</p>
          <p class="L2">Mobile*</p>
          <p class="L4">61234567</p> -->
          <!-- <p class="L4">61234567</p> -->

          <!-- <h6 class="L5">Email</h6>
          <p class="EMAIL">William@nyp.edu.sg</p> -->

          <hr class="horizontal">
          <h6 class="HE">Part 2: Entity Information</h6>

          <p class="P">Unique Entity Number</p>
          <p class="P1">PASSPORT-123-12345</p>
  
          <p class=" L1">Entity Name </p>
          <p class="L3">Nanyang Polytechnic</p>
          <p class="L2">CSN Name</p>
          <p class="L4">School of Engineering</p>

          <p class=" L1">Telephone (Office)</p>
        <p class="L3">61234567</p>
        <p class="L2">Mobile</p>
        <p class="L4">61234567</p>

        <h6 class="L5">Email</h6>
        <p class="EMAIL">William@nyp.edu.sg</p>

        <h6 class="SG_ADDRESS" style="margin-left: 8px">SG Address Postal Code</h6>
        <p class="HG_CODE">666102</p>

         <h6 class="STREET">Street Name</h6>
        <p class="street">Ang Mo Kio Avenue 2</p>

        <h6 style="margin-left: 10px;font-weight:400">Block/House No</h6>
        <p style="margin-left: 10px;font-weight:bold;margin-top: -5px">23</p>

        <h6 class="LEVEL">Level/Unit NO</h6>
        <p class="level">#01-01</p>

       

    <br>
    <button type="button" class="btn btn-secondary btn-sm BUT" (click)="goBack()" style="border: none;
     border-radius: 0;">Back</button>
    <button type="button" class="btn btn-primary btn-sm BUT1" style="margin-left:15px;margin-top:-15px;width:80px;border: none;
      border-radius: 0;" (click)="acknowledge()">Next</button>
     
    </div>



        <!-- <div>
                
         
          <h6 class="H">Part 1: Requestor’s Particulars</h6>
          <p class="P">NRIC/Foreign Identification Number</p>
                <p class="P1">PASSPORT-123-12345</p>
      
                <h6 class="P2">Name</h6>
                <p class="P4">Name of PASSPORT-123-12345</p>
          <h6 class="P2">Designation</h6>
          <p class="P4">Director</p>
          <p class=" L1">Telephone (Office)* </p>
          <p class="L3">61234567</p>
          <p class="L2">Mobile*</p>
          <p class="L4">61234567</p>

          <h6 class="L5">Email</h6>
          <p class="P4">William@nyp.edu.sg</p>

        </div> -->



      
      <!-- <hr class="HR"> -->
      
      <!-- <div>
        <h6 class="H">Part 2: Entity Information</h6>
        <p class="P">Unique Entity Number</p>
        <p class="P1">PASSPORT-123-12345</p>

        <p class=" L1">Entity Name </p>
        <p class="L3">Nanyang Polytechnic</p>
        <p class="L2">CSN Name</p>
        <p class="L4">School of Engineering</p>
        <p class=" L1">Telephone (Office)</p>
        <p class="L3">61234567</p>
        <p class="L2">Mobile</p>
        <p class="L4">61234567</p>

        <h6 class="L5">Email</h6>
        <p class="P4">William@nyp.edu.sg</p>
        <h6 class="L5">SG Address Postal Code</h6>
        <p class="P4">666102</p>

        <h6 style="margin-left: 10px;font-weight:400">Block/House No</h6>
        <p style="margin-left: 10px;font-weight:bold;margin-top: -5px">23</p>

        <h6 class="LEVEL">Level/Unit NO</h6>
        <p class="level">#01-01</p>

        <h6 class="STREET">Street Name</h6>
        <p class="street">Ang Mo Kio Avenue 2</p>

        <br>
              <button type="button" class="btn btn-secondary btn-sm BUT" (click)="goBack()" style="border:none; border-radius:0;">Back</button>
              <button type="button" class="btn btn-primary btn-sm" style="margin-left:15px;margin-top:-15px;width:80px;background-color:#49712d; border:none; border-radius:0;" (click)=acknowledge()>Submit</button>

      </div> -->




        

      <br/>

   

      </div>
    
        </div>
    