<body class="BKC">


<div class="container">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card">Login Here</p>
            <form class="form-signin">

              <mat-form-field style="width:260px">
                <input matInput type="text" id="inputEmail"  placeholder="Email address" required autofocus>
                </mat-form-field>

                <mat-form-field style="width:260px;margin-bottom:-11px">
                <input matInput type="password" id="inputPassword" placeholder="Password" required >
                </mat-form-field>

                 <div class="wrapper">
                    <span class="group-btn  col-lg-6" style="margin-bottom:-11px">
                        <button mat-button type="submit" class="but">login</button>
                    </span>
                    <div id="remember" class="checkbox" style="margin-top:-15px">
                         <a href="#" class="forgot-password">SignUp</a>
                    </div>
                    <div id="remember" class="checkbox">
                         <a href="#" class="forgot-password">Forgot password?</a>
                    </div>
                </div>
            </form>
            
        </div>

    </div>
</body>
