<app-header-after></app-header-after>
<div>
    <p style="margin-top:15px">Welcome, <b>NANYANG POLYTECHNIC (UEN:1992123456)</b>  </p>
    <div id="container">
        <div style="background-color:#bcbcb5; width:100%; padding:1px 15px 0px 15px;">
            <span class="step1">Step</span> 
            <span class="step2">Step</span><br/> 
            <span  class="dot1">1</span> <span class="dot2">2</span>
         <br/>
          </div>
      <!-- <div class="stepwizard">
        <div class="stepwizard-row setup-panel">
          
            <div class="stepwizard-step"><span style="color:rgb(75, 74, 74)" class="STEP">Step</span><br/>
                <a   class="btn btn-light btn-circle1"><span style="color:rgb(75, 74, 74);">1</span></a>
            </div>
            <div class="stepwizard-step"><span style="color:green" class="STEP1">Step</span><br/>
                <a   class="btn btn-default btn-circle btn-light" disabled="disabled"><span style="color:green">2</span></a>
            </div>

        </div>
    </div> -->
      <span class="heading" >
       <span style="font-size: 1.5rem;">Make CAYE Contribution</span>   
        <a class="links" style="color:blue"><u >Download</u> | <u >Print</u></a>   
      </span>
    <!-- <span></span>  -->
    
    <div class="table-responsive">
        <table class="table table-borderless" style="width:100%;border-bottom:0px">
            <tbody>
              <tr>
                  <th scope="row" style="padding-bottom:0%">CPF Submission No.</th>
                  <td style="padding-bottom:0%">1992123456-MSE-01</td>
              </tr>
              <tr>
                  <th scope="row" style="padding-bottom:0%;">Service Provider</th>
                  <td style="padding-bottom:0%;">Nanyang Polytechnic</td>
              </tr>
              <tr>
                  <th scope="row" style="padding-bottom:0%;">Contribution on</th>
                  <td style="padding-bottom:0%;">{{dateNow1}}</td>
              </tr>
            </tbody>
  </table>
      </div>
    

      <!-- <div style="line-height: 8px; margin-top:10px">
      <p><b>CPF Submission No.</b><span class="row1">1992123456-MSE-01</span></p>
      <p><b>Service Provider</b><span class="row2">Nanyang Polytechnic</span></p>
      <p><b>Contribution on</b><span class="row3">{{dateNow1}}</span></p>
    </div>   -->
 <div id="container2">
    <!-- <p style="margin-top:10px">Please key in the service fee for each Professional/freelancer
      and click ‘Submit’ to compute their MediSave payable.</p> -->
      <div class="table-responsive">
        <table class="table table-borderless" style="margin-bottom: 0px;">
        <tbody>
          <tr>
          <th>
              Total CAYE Contributions into MediSave Account
          </th>
          <th>
              15.00
          </th>
        </tr>
        </tbody>
      </table>
    </div>

      <!-- <span style="margin-top:1%;margin-bottom:1%"><b>Total CAYE Contributions into MediSave Account</b></span> 
      <span class="right"><b>15.00</b></span> -->
      <!-- <br/> -->
      <div class="table-responsive" >
    <table class="table table-striped " style="width:100%; border-bottom: 1px solid #49712d!important;">
        <thead style="text-align:center">
          <tr>
            <th scope="col">S/N</th>
            <th scope="col" style="text-align:center">CPF Account No. 
              (S/TXXXXXXXA)</th>
            <th scope="col">Service Fee ($)</th>
            <th scope="col">MediSave Payable($)</th>
            <th scope="col">Net Service Fee ($)</th>
            <th scope="col" class="hasTooltip">Co. Payment Ref No</th>
          </tr>
        </thead>
        <tbody style="text-align:center">
          <tr>
            <th scope="row">1</th>
            <td style="text-align:center">S1234567A</td>
            <td>100.00</td>
            <td>5.00</td>
            <td>95.00</td>
            <td>TX12345SH</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td style="text-align:center">S1234567B</td>
            <td>200.00</td>
            <td>10.00</td>
            <td>190.00</td>
            <td>TX12344AH</td>
          </tr>
          <tr class="border_bottom" >
            <th scope="row">3</th>
            <td style="text-align:center">S1234567C</td>
            <td >300.00</td>
            <td >0.00</td>
            <td >300.00</td>
            <td >TX99999AH</td>
          </tr>
          <tr>
              <th scope="row"></th>
              <td><b>Total</b></td>
              <td><b>600.00</b></td>
              <td><b>15.00</b></td>
              <td><b>585.00</b></td>
              <td></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
    <br/>
    <div class="table-responsive">
    <table class="table table-borderless" style="width:100%">
      <tbody>
        <tr>
        <th style="width:50%">Total Record(s) : 3</th>
        <th style="text-align:center">Payment Method</th>
      </tr>
      <tr>
          <th></th>
          <th style="text-align:center">
           <img src="../../assets/DirectDebit.png" (click)="acknowledge2()" class="directdebit">
            
          <img src="../../assets/ENETS.png" (click)="enets()" class="enets"></th>
        </tr>
        <tr>
          <th>
              <button class="backbtn" (click)="back()" type="submit">Back</button> 
          </th>
          <td style="text-align:center">
              Deduction on<br/>
              <input type="text" value="{{fullDate}}" style="text-align:center;" size="10"><img src="../../assets/calendar.png" >
             
            </td>
        </tr>
      </tbody>
    </table>
  </div>
    <!-- <p>
    <span><b>Total Record(s) : 3</b></span>
    <span class="payment" ><b>Payment Method</b></span>
  </p> -->
  <!-- float:right -->
  <!-- <span style="text-align:right;"> -->
  <!-- <button class="directdebit"  (click)="acknowledge2()"><img src="../../assets/DirectDebit.png"></button>
  <button  class="enets"  (click)="enets()"><img src="../../assets/ENETS.png"></button> -->
<!-- </span> -->
<!--     
<p></p>
    <button class="backbtn" (click)="back()" type="submit">Back</button>  -->
    <!-- <button class="nextbtn" (click)="next()" type="submit">Next</button>  -->
   <!-- <span class="deduction" >Deduction on<br/>
       <input type="text" value="{{dateNow}}" style="text-align:center;" size="10"><img src="../../assets/calendar.png" >
      </span> -->
  </div>
</div>
