<app-header-after></app-header-after>
<div>
    <p style="margin-top:15px">Welcome, <b>NANYANG POLYTECHNIC (UEN:1992123456)</b>  </p>
    <div id="container">
      <div class="stepwizard">
        <div class="stepwizard-row setup-panel">
          
            <div class="stepwizard-step"><span style="color:rgb(75, 74, 74)" class="STEP">Step</span><br/>
                <a   class="btn btn-light btn-circle1"><span style="color:rgb(75, 74, 74);">1</span></a>
            </div>
            <div class="stepwizard-step"><span style="color:green" class="STEP1">Step</span><br/>
                <a   class="btn btn-default btn-circle btn-light" disabled="disabled"><span style="color:green">2</span></a>
            </div>

        </div>
    </div>
      <span class="heading" >
       <span style="font-size: 1.5rem;">Make CAYE Contribution</span>   
        <a class="links" style="color:blue"><u >Download</u> | <u >Print</u></a>   
      </span>
    <span></span>  
      <div style="line-height: 8px; margin-top:10px">
      <p><b>CPF Submission No.</b><span class="row1">1992123456-MSE-01</span></p>
      <p><b>Service Provider</b><span class="row2">Nanyang Polytechnic</span></p>
      <p><b>Contribution on</b><span class="row3">{{dateNow1}}</span></p>
    </div>  
 <div id="container2">
    <!-- <p style="margin-top:10px">Please key in the service fee for each Professional/freelancer
      and click ‘Submit’ to compute their MediSave payable.</p> -->
      <span style="margin-top:1%;margin-bottom:1%"><b>Total CAYE Contributions into MediSave Account</b></span>
      <span class="right"><b>15.00</b></span>
      <br/>
      <div class="table-responsive" style="width:100%">
    <table class="table table-striped " style="width:100%">
        <thead>
          <tr>
            <th scope="col">S/N</th>
            <th scope="col">CPF Account No. 
              (S/TXXXXXXXA)</th>
            <th scope="col">Service Fee ($)</th>
            <th scope="col">MediSave Payable($)</th>
            <th scope="col">Net Service Fee ($)</th>
            <th scope="col" class="hasTooltip">Co. Payment Ref No</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td >S1234567A</td>
            <td>100.00</td>
            <td>5.00</td>
            <td>95.00</td>
            <td>TX12345SH</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>S1234567B</td>
            <td>200.00</td>
            <td>10.00</td>
            <td>190.00</td>
            <td>TX12344AH</td>
          </tr>
          <tr class="border_bottom" >
            <th scope="row">3</th>
            <td >S1234567C</td>
            <td >300.00</td>
            <td >0.00</td>
            <td >300.00</td>
            <td >TX99999AH</td>
          </tr>
          <tr>
              <th scope="row"></th>
              <td><b>Total</b></td>
              <td><b>600.00</b></td>
              <td><b>15.00</b></td>
              <td><b>585.00</b></td>
              <td></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
    <br/>
    <p>
    <span><b>Total Record(s) : 3</b></span>
    <span class="payment" ><b>Payment Method</b></span>
  </p>
  <!-- float:right -->
  <!-- <span style="text-align:right;"> -->
  <button class="directdebit"  (click)="acknowledge2()"><img src="../../assets/DirectDebit.png"></button>
  <button  class="enets"  (click)="enets()"><img src="../../assets/ENETS.png"></button>
<!-- </span> -->
    
<p></p>
    <button class="backbtn" (click)="back()" type="submit">Back</button> 
    <!-- <button class="nextbtn" (click)="next()" type="submit">Next</button>  -->
   <span class="deduction" >Deduction on<br/>
       <input type="text" value="{{dateNow}}" style="text-align:center;" size="10"><img src="../../assets/calendar.png" >
      </span>
  </div>
</div>
