<app-header-after></app-header-after>
<div>
    <p style="margin-top:15px">Welcome, <b>NANYANG POLYTECHNIC (UEN:1992123456)</b>  </p>
    <div id="container">
      <div style="background-color:#e7e5e5; width:100%; padding:1px 15px 0px 15px;">
        <span style="margin-left:70px; color: grey; font-weight:500">Step</span>
         <span style="margin-left:40.5%; color:#49712d; font-weight:500">Step</span><br/> 
        <span  class="dot1">1</span> <span class="dot2">2</span>
     <br/>
      </div>
      <h4 class="heading">
        Make CAYE Contribution      
      </h4>
      <div style="line-height: 8px; margin-top:10px">
      <p><b>CPF Submission No.</b><span class="row1">1992123456-MSE-01</span></p>
      <p><b>Service Provider</b><span class="row2">Nanyang Polytechnic</span></p>
      <p><b>Contribution on</b><span class="row3">15 September 2018</span></p>
    </div>    
    <p style="margin-top:10px">Please key in the service fee for each <span style="background-color:#fcf379fb">Professional/freelancer</span> 
      and click ‘Submit’ to compute their MediSave payable.</p>
  
      <div class="table-responsive">
    <table class="table table-striped" style="width:50%">
        <thead>
          <tr>
            <th scope="col">S/N</th>
            <th scope="col">CPF Account No. 
              (S/TXXXXXXXA)<span style="color:red">*</span></th>
            <th scope="col">Service Fee ($)<span style="color:red">*</span></th>
            <th scope="col">Co. Payment Ref No <i class="fas fa-info-circle"></i></th>
            <th>   </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td ><input type="text" style="outline:1px solid green" ></td>
            <td><input type="text" style="outline:1px solid green"></td>
            <td><input type="text" style="outline:1px solid green"></td>
            <td><i class="fas fa-trash-alt"></i></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><input type="text" style="outline:1px solid green"></td>
            <td><input type="text" style="outline:1px solid green"></td>
            <td><input type="text" style="outline:1px solid green" ></td>
            <td><i class="fas fa-trash-alt"></i></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td><input type="text" style="outline:1px solid green"></td>
            <td><input type="text" style="outline:1px solid green" ></td>
            <td><input type="text" style="outline:1px solid green"></td>
            <td><i class="fas fa-trash-alt"></i></td>
          </tr>
          <tr>
              <th scope="row">4</th>
              <td><input type="text" style="outline:1px solid green"></td>
              <td><input type="text" style="outline:1px solid green"></td>
              <td><input type="text" style="outline:1px solid green"></td>
              <td><i class="fas fa-trash-alt"></i></td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td><input type="text" style="outline:1px solid green" ></td>
                <td><input type="text" style="outline:1px solid green"></td>
                <td><input type="text" style="outline:1px solid green"></td>
                <td><i class="fas fa-trash-alt"></i></td>
              </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
  