
<app-header-makecaye-modified></app-header-makecaye-modified>
<div class="bodywidth">
<!-- <div> -->
    <!-- <p style="margin-top:15px">Welcome, <b>NANYANG POLYTECHNIC (UEN:1992123456)</b>  </p> -->
    <div id="container">
        <p class="heading">
            Make CAYE Contribution
          </p>
        <div class="steps" >
            <span class="step1" >Step</span>
             <span class="step2" >Step</span><br/>
             <!-- <span class="step3" >Step</span><br/>  -->
            <span  class="dot1">1</span> <span class="dot2">2</span>
            <!-- <span class="dot3">3</span> -->
         <!-- <br/> -->
          </div>
          <!-- <p style="background-color: #49712d; color: white; padding: 10px;">Key in the service fee for each individual and click Submit to compute their Medisave Payble</p> -->
    <div *ngIf="showthis" style="width:100%">
      <p class="errorfield" ><b>Error:</b>&nbsp;Please check the highlighted fields</p>
      <p style="color:#AA2B00;font-size:16px;padding-left:0;margin-bottom:5px;font-weight:bold">Total Error Fields: 2</p>
      <p style="color:#AA2B00;font-size:16px;padding-left:0;margin-bottom:0;">S/N 1 | S/N 6</p>
    </div>

  <p style="font-weight: bold;
    font-size: 16px;
    margin-top: 19px;
    margin-bottom: 0px;
    padding-left: 0px;">CSN Name</p>
  <select style="margin-top: 5px;
    /* padding-left: 10px; */
    /* padding-right: 50px; */
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    background-color: white;
    padding: 12px 178px 10px 11px;
    font-size: 16px;">
  <option> School of Engineering</option>
  </select>
  <p style="font-size: 16px;
    margin-top: 20px;
    font-weight: bold;
    padding-left: 0px;
    margin-bottom: 0;">CPF Submission No.</p>
  <p style="font-size: 16px;
    /* margin-top: 5px; */
    padding-left:0px">1992123456-MSE-01</p>
      <!-- last code
       <div class="table-responsive">
        <table class="table table-borderless" style="width:100%">
          <tbody>
            <tr>
                <th scope="row" style="padding:0px;padding-top:12px">CSN Name</th>
              </tr>
              <tr>
                <td style="padding:0px;">
                  <select style="padding-left:10px; padding-right:50px;padding-top: 5px; padding-bottom: 5px;">
                <option> School of Engineering</option>
                </select></td>
              </tr>
            <tr>
                <th scope="row" style="padding:0px;padding-top:10px">CPF Submission No.</th>
                </tr><tr>
                <td style="padding:0px">1992123456-MSE-01</td>
            </tr>
          </tbody>
</table>
      </div> -->

      <!-- <div style="line-height: 8px; margin-top:10px">
      <p><b>CPF Submission No.</b><span class="row1">1992123456-MSE-01</span></p>
      <p><b>Service Provider</b><span class="row2">Nanyang Polytechnic</span></p>
      <p><b>Contribution on</b><span class="row3">{{dateNow}}</span></p>
    </div>   -->

    <!-- <p style="margin-top:10px">Please key in the service fee for each <span style="background-color:#fcf379fb">Professional/freelancer</span>
      and click ‘Submit’ to compute their MediSave payable.</p> style="text-align:center"-->

      <div class="table-responsive" style="overflow-x: scroll;">
    <table class="table table-striped " style="width:696px; font-size: 16px;">
        <thead >
          <tr>
            <th><input type="checkbox" style="zoom:1.5;"></th>
            <th scope="col">S/N</th>
            <th scope="col">NRIC
            <span style="color:red">*</span></th>
            <th scope="col">Gross Service Fee<span style="color:red">*</span></th>
            <th scope="col" class="hasTooltip">Invoice No. <i class="fas fa-question-circle"></i>
              <span style="background-color:#4F8208;color:white">You may input the invoice number in this field so that the freelancer can reconcile the payment</span></th>
<!--
            <th>   </th> -->
          </tr>
        </thead>
        <tbody style="text-align:center">
          <tr>
            <td><input type="checkbox" style="zoom:1.5;" #chkEnable ngModel></td>
            <td scope="row">1</td>
            <td (click)="submit()" style="text-align:center" ><input type="text" class="datarow" placeholder="S/TXXXXXXXA" id="colorchange" ></td>
            <td><input type="text" class="datarow" value="$                                    0.00"  id="value1"></td>
            <td><input type="text" class="datarow" ></td>
            <!-- <td><i class="fas fa-trash-alt"></i></td> -->
          </tr>
          <tr>
            <td><input type="checkbox" style="zoom:1.5;"  ></td>
            <td scope="row">2</td>
            <td style="text-align:center"><input type="text" class="datarow" placeholder="S/TXXXXXXXA" id="value2"></td>
            <td><input type="text" class="datarow" value="$                                   0.00" id="value3"></td>
            <td><input type="text" class="datarow"  ></td>
            <!-- <td><i class="fas fa-trash-alt"></i></td> -->
          </tr>
          <tr>
            <td><input type="checkbox" style="zoom:1.5;"></td>
            <td scope="row">3</td>
            <td style="text-align:center"><input type="text" class="datarow" placeholder="S/TXXXXXXXA" ></td>
            <td><input type="text" class="datarow" value="$                                   0.00" ></td>
            <td><input type="text" class="datarow" ></td>
            <!-- <td><i class="fas fa-trash-alt"></i></td> -->
          </tr>
          <tr>
              <td><input type="checkbox" style="zoom:1.5;"></td>
              <td scope="row">4</td>
              <td style="text-align:center"><input type="text" class="datarow" placeholder="S/TXXXXXXXA"></td>
              <td><input type="text" class="datarow" value="$                                   0.00"></td>
              <td><input type="text" class="datarow" ></td>
              <!-- <td><i class="fas fa-trash-alt"></i></td> -->
            </tr>
            <tr>
                <td><input type="checkbox" style="zoom:1.5;"></td>
                <td scope="row">5</td>
                <td style="text-align:center"><input type="text" class="datarow" placeholder="S/TXXXXXXXA"></td>
                <td><input type="text" class="datarow" value="$                                   0.00" ></td>
                <td><input type="text" class="datarow" ></td>
                <!-- <td><i class="fas fa-trash-alt"></i></td> -->
              </tr>
        </tbody>
      </table>
    </div>

    <!-- <div style="margin-top:5px; font-size:16px"> -->
<!-- <button [disabled]="!chkEnable.checked">Delete</button> -->
      <div class="pagination" style="font-size:16px">

        <button style="width:86px;height:40px;background-color:#D2D2D2" [disabled]="!chkEnable.checked">Delete</button>
      </div>
        <div class="paginatio">
            <a href="#" class="pageleft">&lt;&lt;</a>
            <a href="#" class="pageleft">|</a>
            <a href="#" class="pageleft">&lt;</a>
            <a href="#" class="pageleft">Page</a>
            <a href="#" class="pageleft">1</a>
            <a href="#" class="pageleft">of 1</a>
            <a href="#" class="pageleftgo">Go</a>
            <a href="#" class="pageleft">&gt;</a>
            <a href="#" class="pageleft">|</a>
            <a href="#" class="pageleft">&gt;&gt;</a>
          </div>

        <!-- <a class="paginationarrow1"  href="#">&lt;&lt;</a>
        <a  href="#">|</a>
        <a  href="#">&lt;</a>
        <a style="font-weight:bold" href="#">Page</a>
        <a href="#" style="background-color:white;
        padding-left:8px; padding-right:8px;padding-top:5px;padding-bottom:5px;
        margin-top:3px;">1</a>
        <a style="font-weight:bold" href="#">of 1</a>
        <a href="#" style="background-color:#49712d; color:white;
        padding-left:8px; padding-right:8px;padding-top:5px;padding-bottom:5px;
        margin-top:3px;">Go</a>
        <a href="#">&gt;</a>
        <a href="#">|</a>
        <a href="#">&gt;&gt;</a> -->

        <!-- <span style="background-color:grey; color:white;
        padding-left:8px; padding-right:8px;padding-top:5px;padding-bottom:5px;
        margin-top:3px;margin-left: 35px;">+</span>
        <span style="background-color:red; color:white;
        padding-left:11px; padding-right:11px;padding-top:5px;padding-bottom:5px;
        margin-top:3px;margin-left:3px">-</span> -->
        <div class="addpage">
        <a href="" class="addpage2">Add Page</a>
  </div>
      
      <p style="font-size:16px;padding-left:0">Showing 1-5 of 5</p>
      <!-- <p>First | << | < Page 1 of 1 Go > | >> | Last</p> -->

<div class="leftfile">
  <button style="background-color:#D2D2D2;width:116px;height:40px;font-size:16px">Import File</button>

  <p style="font-size:16px;padding-left:0;margin-top:5px">Max Size: 10MB</p>
</div>
<div class="rightfile" >
  <span style="font-size:16px;color:#0070C0;text-decoration:underline">Download Template Sample </span><br/>
  <span style="font-size:16px;">Last updated on 10/08/2018 (CSV, 0.45KB)</span>
</div>


    <!-- </div> -->
    <!-- <div class="table-responsive" style="background-color:white">
    <table class="table table-borderless" style="margin-bottom:0%; margin-top:10px">
      <tbody>
        <tr>

          <td style="padding:0;">
              <label class="custom-file-upload">
                  <input type="file" id="file" (change)="importfile()"/>
                  +&nbsp;&nbsp;Import file
              </label> -->
              <!-- <a href="" style="text-decoration:underline;margin-left:45%;">Download Template Sample</a> -->

              <!-- <span>Last updated on</span> -->
          <!-- </td>
          <td style="float:right; padding-bottom:0%;padding-top:0%">
            <a href="" style="text-decoration:underline;">Download Template Sample</a>
            <br/> Last Updated on 10/08/2018

          </td>
        </tr>
        <tr style="padding-top:0%;">
          <td style="padding-top:0%;">
            <span>Max-size:10MB</span>
          </td>
          <td style="float:right; padding-top:0%;">

            (CSV, 0.45KB)
          </td>
        </tr> -->
        <!-- <tr>
            <td></td>
            <td style="color:red;text-align:right;font-weight:500;font-size:13px;padding-top:0%">
              File limit: 36MB</td>
        </tr> -->
      <!-- </tbody>
    </table>
  </div> -->
    <!-- <span style="margin-left: 10px;font-size: 20px;font-weight: 500;margin-top: 5px;"><i class="fas fa-plus-circle"></i></span>
    <span style="margin-top: 8px;margin-left: 7px;font-size: 15px;font-weight: 500;">ADD NEW RECORD</span>
<label class="custom-file-upload">
    <input type="file" id="file" (change)="importfile()"/>
    +&nbsp;&nbsp;Import file
</label>
<p class="limit">File limit: 36MB</p> -->
    </div>
    <button class="backbtn" (click)="back()" type="submit">Back</button>
    <button class="nextbtn" type="submit" data-toggle="modal" data-target="#exampleModal">Save Draft</button>
    <button class="submitbtn" (click)="nextpage()"  type="submit" >Submit</button>
  </div>
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button> -->

  <!-- Modal border-bottom:0px -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="top:25%; left:5%">
      <div class="modal-content" style="width:80%; border-radius:0">
        <div class="modal-header" style="padding-top: 7px;padding-bottom: 7px;background-color: lightgrey;">
          <h6 class="modal-title" id="exampleModalLabel">Save as draft</h6>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        <div class="modal-body" style="padding:0; padding-left:16px;padding-top: 7px;">
          <h6>Do you want to save as draft?</h6>
        </div>
        <div class="modal-footer" style="border-top:0px">
          <button type="button"  data-dismiss="modal" class="cancelbutton" >Back</button>
          <button type="button" style="margin-right:15px; padding:5px;    padding-left: 25px;
          padding-right: 25px; background-color:#49712d; color:white; border:none" data-dismiss="modal" (click)="draft()">Save</button>
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>
