#container {
    display: flex;
    flex-wrap: wrap;
    border-top:1px solid grey;
    border-bottom:1px solid grey;
    padding:5px 5px 5px 5px;
    width:100%;
  }

  @media only screen and (min-width: 768px) {
    #container {
      display: flex;
      flex-wrap: wrap;
      border-top:1px solid grey;
      border-bottom:1px solid grey;
      padding:5px 5px 30px 5px;
      width:78%;
    }
    
  }

  .heading{
    padding:5px 0px 5px 0px; margin-left:10px; color:#49712d;font-weight:545;width:100%
  }

  p{
    padding:0px 0px 0px 10px; 
    width:100%
  }

  .dot1 {
    height: 35px;
    width: 35px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding:5px;
    margin-left:70px;
    margin-bottom: 10px;
   border: 2px solid grey;
  }

  .dot2 {
    height: 35px;
    width: 35px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding:5px;
    margin-left:40%;
    border: 2px solid #49712d;
  }

  .row1{
    margin-left:50px
  }

  .row2{
    margin-left:81px
  }

  .row3{
    margin-left:85px
  }

  @media only screen and (min-width: 768px) {
    .row1{
        margin-left:100px
      }
    
      .row2{
        margin-left:132px
      }
    
      .row3{
        margin-left:135px
      }
  }