/*
  .mat-toolbar-row, .mat-toolbar-single-row, #row1{
    background: rgb(187, 186, 186);
    height:40px;
    color:black;
    margin-top:0%;
    margin-left:0px;
    width:100%;
  }

  .mat-toolbar-row, .mat-toolbar-single-row, #row2{
    background: green;
    height:40px;
    margin-top:2%;
    margin-left:50px;
    color:white;
    width:90%;
  }


  .mat-grid-tile .mat-figure {
    justify-content:left !important;
  }

  .leftcolumn {
    float: left;
    width: 15%;
    margin-left: 4%;
  }

  .rightcolumn {
    width: 80%;
    padding-left: 20px;
    margin-left:20%;
  }
  .example-card {
    margin-top: 5px;
    height: 1000px;
    /* margin-left: 5%; */
    /* border: 1px solid gray;
    max-height: 450px;
  }
.P{
  font-weight: bold;
}
.Item{
  background: #fffbb7;
}
.DIV{
  margin-top:100px;
}
.P1{
  font-family: sans-serif;
  font-size:20px;
  color: #249b22;
  margin-left:-2.5%;
  margin-top: 10px;
}
.P2{

}  */
/*
  .mat-toolbar-row, .mat-toolbar-single-row, #row1{
    background: rgb(187, 186, 186);
    height:40px;
    color:black;
    margin-top:0%;
    margin-left:0px;
    width:100%;
  }

  .mat-toolbar-row, .mat-toolbar-single-row, #row2{
    background: green;
    height:40px;
    margin-top:2%;
    margin-left:50px;
    color:white;
    width:90%;
  }


  .mat-grid-tile .mat-figure {
    justify-content:left !important;
  }

  .leftcolumn {
    float: left;
    width: 15%;
    margin-left: 4%;
  }

  .rightcolumn {
    width: 85%;
    padding-left: 20px;
  }
  .example-card {
    margin-top: 5px;
    height: 1000px;
    /* margin-left: 5%; */
    /* border: 1px solid gray;
    max-height: 450px;
  }
p{
  font-weight: bold;
}
.LIST{
  width:85%;
  margin-left:24%;
}
.Item{
  background: #fffbb7;
}
.DIV{
  margin-top:100px;
}  */

.leftcolumn {
  float: left;
  width: 15%;
  margin-left: 4%;
}

.rightcolumn {
  width: 85%;
  padding-left: 20px;
}
.card{
  height:1200px;
  margin-top:5px;
  width:12.5rem
}
.card-title{
  font-weight: bold;
}

.LIST{
  width:60rem;
  margin-left:14%;
}

.H5{
  margin-left: 15px;
  color: #097c2c;
  margin-top:5px;
}
.row1{
  background: rgb(187, 186, 186);
  color:black;
  height: 50px;
  width:100%;
}




.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

/* .stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

} */

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px !important;
}
.stepwizard{
  background:#bcbcb5;
  padding:17px;
}
.form-control{
  width:550px;
  height:30px !important;
}
.az{
  height:25px;
}
.abc
  {
      font-size: .8rem;
      letter-spacing: 1px;
  }

.abc{
    font-size: .8rem;
    letter-spacing: 1px;
}
.abc {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    width:600px;
}

.ABC {
    display: block;
    margin-bottom: 10px;
    font-weight:bold;
    margin-top: 10px;
}
