<app-header></app-header>
<!-- <br/>
<div class="leftcolumn" >
  <div class="card">

    <div class="card-body">
      <h5 class="card-title">Service Buyers Online Services</h5>
      <div style="background:#bfc3cc;width:200px;margin-left:-20px">
      <a href="#" style="margin-top:20px;font-size:15px;color:black;">Contribute As You Earn Scheme</a>
    </div>
    </div>


  </div>

  </div> -->

<div class="rightcolumn">
  <div class="LIST">

  <h5 class="H5">Apply for CAYE CPF Submission Number</h5>
    <p style="font-size:13px;margin-left:15px">CAYECSN</p>

    <div class="container">
    <div class="stepwizard">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
                <a href="#step-1"  class="btn btn-primary btn-circle">1</a>
            </div>
            <div class="stepwizard-step">
                <a href="#step-2"  class="btn btn-default btn-circle btn-light" disabled="disabled">2</a>
            </div>

        </div>
    </div>
    <br>
    <div>
      <h6 style="font-weight:bold">Part 1: Requestor’s Particulars</h6>
    </div>
    <br>
    <div>
      <p style="font-weight:bold;font-size:14px">NRIC/Foreign Identification Number</p>
      <p style="font-size:13px;color:gray">PASSPORT-123-12345</p>
    </div>
    <div>
      <br>
      <h6 style="font-weight:bold">Name</h6>
      <p style="font-size:15px;color:gray">Name of PASSPORT-123-12345</p>
    </div>
    <form role="form">
        <div class="row setup-content" id="step-1">
            <div class="col-xs-12">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label" style="font-weight:bold">Designation*</label>
                        <select class="form-control">
                        <option>Select*</option>
                        <option>medium</option>
                        <option>large</option>
                    </select>
                        <!-- <input  maxlength="100" type="text" required="required" class="form-control" placeholder="Enter First Name"  /> -->
                    </div>


                    <div class="form-group">
                        <label class="control-label" style="font-weight:bold">Telephone (Office)*</label>
                        <label style="margin-top:-50px;margin-left:170px;font-weight:bold" class="control-label">Mobile*</label>
                        <br>
                        <input style="height:25px;float:left;width:290px" maxlength="100" type="text" required="required" class="form-control1" placeholder="Please key here"/>
                        <input style="height:25px;margin-top:-1px;float:right;width:300px;margin-right:-10px" maxlength="100" type="text" required="required" class="form-control1" placeholder="Please key here"/>
                          </div>

                          <br>

                          <div>
                            <label style="font-weight:bold" class="control-label;">Email*</label>
                            <br>
                            <input style="height:25px;width:600px" maxlength="100" type="text" required="required" class="form-control1" placeholder="Please key here"/>
                          </div>

                          <br>

                          <div>
                             <input type="checkbox">Opt-in to recieve CPF information and news via SMS/Email
                          </div>
                            <br><hr>

                          <div>
                            <h6 style="font-weight:bold;">Part 2: Entity Information</h6>
                          </div>

                          <div>
                            <p style="font-weight:bold;font-size:14px;margin-top:25px">Unique Entity Number</p>
                            <p style="font-size:15px;color:gray;margin-top:-10px">1992123456</p>
                          </div>

                          <div class="form-group">
                              <label class="control-label" style="font-weight:bold">Entity Name*</label>
                              <label style="margin-top:-50px;margin-left:215px;font-weight:bold" class="control-label">CSN Name</label>
                              <br>
                              <input style="height:25px;float:left;width:290px" maxlength="100" type="text" required="required" class="form-control1" placeholder="Please key here"/>
                              <input style="height:25px;margin-top:-1px;float:right;width:300px;margin-right:-10px" maxlength="100" type="text" required="required" class="form-control1" placeholder="Please key here"/>
                                </div>

                                <br>

                          <div>
                            <p>Contact Details*</p>
                            <p style="margin-left:120px;margin-top:-40px">(Please provide at least one contact number)</p>
                          </div>

                          <div class="form-group">
                         <label class="control-label" style="font-weight:bold">Telephone (Office)*</label>
                          <label style="margin-top:-50px;margin-left:170px;font-weight:bold" class="control-label">Mobile*</label>
                          <br>
                          <input style="height:25px;float:left;width:290px" maxlength="100" type="text" required="required" class="form-control1" placeholder="Please key here"/>
                          <input style="height:25px;margin-top:-1px;float:right;width:300px;margin-right:-10px" maxlength="100" type="text" required="required" class="form-control1" placeholder="Please key here"/>
                            </div>

                          <div>
                          <label class="control-label" style="font-weight:bold;margin-top:20px;margin-left:-290px">Email*</label>
                          <br>
                          <input style="width:600px;height:25px " maxlength="100" type="text" required="required" class="form-control1" placeholder="Please key here"/>
                      </div>

                      <label class="ABC" for="story">Company Address*</label>

                      <textarea class="abc" id="story" name="story" rows="5" cols="33">Please key here
                        </textarea>
                        <hr>
                        <br>
                        <button style="margin-top:-15px;width:80px" type="button" class="btn btn-secondary btn-sm">Back</button>
                        <button type="button" class="btn btn-primary btn-sm" style="margin-left:15px;margin-top:-15px;width:80px">Next</button>


                  </div>
              </div>
            </div>
          </form>
          </div>

      </div>
      </div>
      <!--
      <app-header></app-header>
      <div>
        <div class="leftcolumn" >

          <mat-card class="example-card">
            <mat-card-header>
              <p>Service Buyers
                Online Services</p>
            </mat-card-header>
            <mat-card-content id="row1">
              <a href="#">Contribute As You Earn Scheme</a>
            </mat-card-content>
          </mat-card>

          </div>
          <div class="rightcolumn">
            <mat-list class="LIST">
        <mat-list-item >Welcome, NANYANG POLYTECHNIC (UEN:1992123456)</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><p style="color:#3e8247">Contribute As You Earn Scheme (CAYE)</p></mat-list-item>
        <mat-list-item class="Item">Your request cannot be processed as you do not have a CPF Submission Number for CAYE.</mat-list-item>

        <mat-divider class="DIV"></mat-divider>
        <mat-list-item><p>Related Links</p></mat-list-item>
        <a href="#" style="font-size:15px">Apply for CAYE CPF Submission Number</a>
        </mat-list>

        </div>

          </div> -->










      <!--
      <app-header></app-header>
      <div>
        <div class="leftcolumn" >

          <mat-card class="example-card">
            <mat-card-header>
              <p class="P">Service Buyers
                Online Services</p>
            </mat-card-header>
            <mat-card-content id="row1">
              <a href="#">Contribute As You Earn Scheme</a>
            </mat-card-content>
          </mat-card>

          </div>
          <div class="rightcolumn">
            <mat-card-header>
              <p class="P1">Apply for CAYE CPF Submission Number</p>
            </mat-card-header>
            <mat-card-content >
              <p class="P2">CAYECSN</p>
            </mat-card-content>

        </div>

          </div> -->
