
<div>
   <div style="background-color:#F0F0F0">
    <div class="screenwidth">
       <span><img src='../../assets/Singapore_Govt.png' class="imagesize"></span>
       <span style="font-family:Arial; font-size:12px;color:#464642; margin-left:-7px">A Singapore Government Agency Website</span>
     </div>
     </div>
     <div style=" box-shadow: 1px 1px 2px #a7a2a2; background-color:#FFFFFF">

     </div>

     <div style="background-color:white;">



          <nav class="navbar navbar-expand-lg navbar-light bg-light  screenwidth" style="padding:0" >

                 <a class="brand brand-adjust"  ><img src='../../assets/logo-CPF-web.png' style="width:154px;height:70px"></a>
                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                 aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"
                 style="width:50%;border:none;">
                 <span>
                   <!-- <img src='../../assets/Login.png' style="width:24px;height:33px"> -->
                   <img src='../../assets/Login.png' style="width:14px;height:16px; margin-right:20%">
                 </span>
                   <span class="navbar-toggler-icon"></span>
                 </button>
                 <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                     <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                       <li class="nav-item active">
                         <a class="nav-link employee" style="margin-right:20px">Employer Guide </a>
                       </li>

                       <li class="nav-item active">
                         <a class="nav-link tools"  style="margin-right:20px">Tools</a>
                       </li>
                       <li class="nav-item active">
                         <a class="nav-link services" style="color: #4F8208;">Services

                     </a>
                         </li>
                     </ul>
                     <form class="form-inline my-2 my-lg-0">
                         <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                             <li class="nav-item active">
                               <a class="nav-link loginbut" style="margin-right:20px;" >Login</a>
                       </li>
                       <li class="nav-item active">
                         <a class="nav-link" (click)="logout()">
                           <!-- <i class="far fa-user loginicon" ></i>  -->
     <img src='../../assets/Login.png' style="width:14px;height:16px; margin-right:20px;">
                         </a>
                     </li>
                     <li class="nav-item active">
                       <a class="nav-link searchicon">
                          <!-- <i class="fas fa-search" ></i> -->
                          <img src='../../assets/Search.png' style="width:14px;height:16px;margin-right:20px;">
                        </a>
                     </li>
                     </ul>

                     </form>
                   </div>

               </nav>
             </div>

             <!--
<div style="background-color:white;">
     <nav class="navbar navbar-expand-lg navbar-light bg-light  screenwidth" style="padding:0;" >
            <a class="navbar-brand" ><img src='../../assets/logo-CPF-web.png' width=150px; height=70px; style="padding:0;height:52px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span><i class="far fa-user loginicon" ></i></span>
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li class="nav-item active">
                    <a class="nav-link employee">Employer Guide </a>
                  </li>

                  <li class="nav-item active">
                    <a class="nav-link tools"  >Tools</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link services" style="color: #4F8208;">Services

                </a>
                    </li>

                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                          <a class="nav-link loginbut" >Login</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" (click)="logout()"> <i class="far fa-user loginicon" ></i> </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link searchicon"> <i class="fas fa-search" ></i> </a>
                </li>
                </ul>

                </form>
              </div>
          </nav>
        </div> -->


<div *ngIf="screenflag==false" class="screenwidth">
  <br/>
<div class="column-3">
    <div class="aside">
<ul class="nav flex-column " style="display:block;border-bottom:0.5px solid #707070;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="true" aria-label="Toggle navigation"
        style="
        height: 60px;
width: 100%;
border-left: 5px solid green;
text-align: left;
font-size:18px;">
                <!-- <span class="navbar-toggler-icon"> -->
                  Service Buyers Online
                  <br/>
                  Services
                  <i class="fa fa-angle-down" style="font-size:24px;float:right"></i>
                  <!-- <i class="indicator glyphicon pull-right glyphicon-chevron-down"></i> -->
                <!-- </span> -->
              </button>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <li class="nav-item">
      <a class="nav-link active serprovider"  style="height:60px; width:100%;padding:15px">Service Buyers
<br/>
         Online Services</a>
    </li>
    <br/>
    <!-- <li class="nav-item">
      <a class="nav-link serprovider" href="#">Online Services</a>
    </li> -->
    <li class="nav-item">
      <!-- <a class="nav-link" href="#">Contribute As You Earn Scheme</a> -->
      <a  [routerLink]="" (click)="Nextpage()" style="padding:1px 0px 4px 0px;font-size:15px; color:black; ">
        <p class="caye" style="height:60px; width:290px;padding:15px;margin-left: auto;
    margin-right: auto;">  Contribute As You Earn Scheme</p></a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li> -->
</div>
  </ul>
</div>
</div>
<div style="text-align:right;">
  <span class="dot1"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>
<p style="    font-size: 16px;padding:15px;font-family:arial"><b> Welcome NANYANG POLYTECHNIC </b>(UEN:1992123456) </p>
  </div>


     <div *ngIf="screenflag" class="screenwidth">
     <div class="column-3">
        <div class="aside">
          <h1 class="serprovider">Service Buyers Online Services</h1>
          <!-- <br/> -->
          <!-- <a  class="onlineser" >Online Services</a> -->
          <!-- <br/> -->
          <!-- <div style="background-color:#b7b5b5; width:100%; padding:1px 15px 0px 15px;"> -->
          <a  [routerLink]="" (click)="Nextpage()" style="padding:1px 0px 4px 0px;font-size:15px; color:black; ">
            <p class="caye">  Contribute As You Earn Scheme</p></a>
          <!-- <br/> -->


    <!-- <div class="sidebar" >

    </div> -->


        </div>
      </div>

      <div ><span class="dot1"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span> </div>
      <p style="    font-size: 16px;
      margin-left: 258px;font-family:arial"><b> Welcome NANYANG POLYTECHNIC </b>(UEN:1992123456) </p>
    </div>
     </div>








     <!-- <div class="navbar" style="width:970px;margin:auto;padding:0;height:90px">
        <a class="navbar-brand">
          <img src="../../assets/CPF_Board.png" style="width:155px; height:70px" >
        </a>
     </div> -->
     <!-- <nav class="navbar navbar-expand-lg navbar-light screenwidth" style="padding:0;height:90px" >
        <a class="navbar-brand" ><img src='../../assets/CPF_Board.png' style="padding:0;width:155px; height:70px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link employee" style="    font-family: Arial;
                font-size: 16px;
                font-weight: bold;
                margin-left: 55px;
                margin-right: 22px;
                margin-top: 36px;
                margin-bottom: 15px;
                padding-left: 0;
                padding-right: 0;">Employer Guide </a>
              </li>

              <li class="nav-item active">
                <a class="nav-link" style="margin-right: 30px;font-family:Arial;font-size:16px;font-weight:bold;margin-top: 36px;
                margin-bottom: 15px;" >Tools</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link services"  style="margin-right: 22px;font-family: Arial;
                  font-size: 16px;
                  font-weight: bold;
                  color: #4F8208;
                  margin-top: 36px;
                  margin-bottom: 0px;
                  border-bottom: 5px solid #4F8208;
                  padding-bottom: 20px;">Services

              </a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
              <a class="nav-link" style="margin-right: 22px;font-family:Arial;font-size:16px;font-weight:bold;font-weight:bold;margin-right: 25px;    margin-top: 40px;
              margin-bottom: 15px;">Login</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" (click)="logout()"> <i class="far fa-user loginicon" style="margin-top:44px;
                      margin-bottom:15px;"></i> </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link"> <i class="fas fa-search" style="margin-right:25px;margin-top:44px;
                  margin-bottom:22px;"></i> </a>
            </li>
            </ul>

            </form>
          </div>
      </nav> -->
