<!-- <div class="masthead-container hidden-print" id="navbar">
  <div class="sgds-masthead">
      <div class="sgds-container">
          <div class="row is-reduced is-masthead">
              <div class="col has-text-centered-touch">
                  <a href="https://www.gov.sg/" target="_blank">
                      <span class="sgds-icon sgds-icon-sg-crest is-size-4">
                        <img src='../../assets/Singapore_Govt.png' style="width:5%" class="sgds-icon sgds-icon-sg-crest is-size-4">
                      </span>
                      <span class="is-text">A Singapore Government Agency Website</span>
                  </a>
              </div>
          </div>
      </div>
  </div>
  <nav class="navbar is-transparent">
    <div class="sgds-container">
        <div class="navbar-brand">
            <a class="navbar-item" id="idCpfLogo" title="Central Provident Fund Board" href="https://test-eservices.apps.cpfb.gov.sg/Members">
                <img src="../../assets/logo-CPF-web.png" alt="CPF Board">
            </a>

            <div class="navbar-item sgds-dropdown is-hidden-desktop" title="Select user portal" style="margin-left: auto">
                <div class="sgds-dropdown-trigger">
                    <button class="sgds-button is-white is-medium" aria-haspopup="true" aria-controls="sgds-dropdown-menu">
                        <span class="icon">
                            <span class="sgds-icon sgds-icon-person" style="color: rgb(79, 130, 8);"></span>
                        </span>
                    </button>
                </div>
                <div class="sgds-dropdown-menu" id="sgds-dropdown-menu" role="menu">
                    <div class="sgds-dropdown-content">
                        <a href="https://test-eservices.apps.cpfb.gov.sg/eSvc/Web2/PortalServices/CpfMemberPortalServices#" class="sgds-dropdown-item is-active">Member</a>
                        <a href="https://test-eservices.apps.cpfb.gov.sg/eSvc/Web2/PortalServices/CpfMemberPortalServices#" class="sgds-dropdown-item">Employer</a>
                        <a href="https://test-eservices.apps.cpfb.gov.sg/eSvc/Web2/PortalServices/CpfMemberPortalServices#" class="sgds-dropdown-item">Business Partner</a>
                    </div>
                </div>
            </div>

            <div class="navbar-burger burger is-active" data-target="mainnav-4" title="Main navigation menu" style="margin-left: 0px">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
  </div> -->
  
<div>
   <div style="background-color:#F0F0F0">
    <div style="width:970px;margin:auto;">
       <span><img src='../../assets/Singapore_Govt.png' style="width:5%"></span>
       <span style="font-family:Arial; font-size:12px;color:#464642; margin-left:-7px">A Singapore Government Agency Website</span>
     </div>
     </div>
     <div style=" box-shadow: 1px 1px 2px #a7a2a2; background-color:#FFFFFF">
       <!-- <div class="navbar" style="width:970px;margin:auto;padding:0;height:90px">
          <a class="navbar-brand">
            <img src="../../assets/CPF_Board.png" style="width:155px; height:70px" >
          </a>
       </div> -->
       <nav class="navbar navbar-expand-lg navbar-light" style="width:970px;margin:auto;padding:0;height:90px" >
          <a class="navbar-brand" ><img src='../../assets/CPF_Board.png' style="padding:0;width:155px; height:70px"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link employee" style="    font-family: Arial;
                  font-size: 16px;
                  font-weight: bold;
                  margin-left: 55px;
                  margin-right: 22px;
                  margin-top: 36px;
                  margin-bottom: 15px;
                  padding-left: 0;
                  padding-right: 0;">Employer Guide </a>
                </li>
               
                <li class="nav-item active">
                  <a class="nav-link" style="margin-right: 30px;font-family:Arial;font-size:16px;font-weight:bold;margin-top: 36px;
                  margin-bottom: 15px;" >Tools</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link services"  style="margin-right: 22px;font-family: Arial;
                    font-size: 16px;
                    font-weight: bold;
                    color: #4F8208;
                    margin-top: 36px;
                    margin-bottom: 0px;
                    border-bottom: 5px solid #4F8208;
                    padding-bottom: 20px;">Services 
                    <!-- <span class="sr-only">(current)</span> -->
                </a>
                  </li>
                <!-- <li class="nav-item active">
                  <a class="nav-link" >About Us</a>
                </li> -->
              </ul>
              <form class="form-inline my-2 my-lg-0">
                  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                      <li class="nav-item active">
                <a class="nav-link" style="margin-right: 22px;font-family:Arial;font-size:16px;font-weight:bold;font-weight:bold;margin-right: 25px;    margin-top: 40px;
                margin-bottom: 15px;">Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" (click)="logout()"> <i class="far fa-user loginicon" style="margin-top:44px;
                        margin-bottom:15px;"></i> </a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link"> <i class="fas fa-search" style="margin-right:25px;margin-top:44px;
                    margin-bottom:22px;"></i> </a>
              </li>
              </ul>
                
              </form>
            </div>
        </nav>
     </div>
     <div style="width:970px;margin:auto;">
     <div class="column-3">
        <div class="aside">
          <h1 class="serprovider">Service Buyers Online Services</h1>
          <!-- <br/> -->
          <!-- <a  class="onlineser" >Online Services</a> -->
          <!-- <br/> -->
          <!-- <div style="background-color:#b7b5b5; width:100%; padding:1px 15px 0px 15px;"> -->
          <a  [routerLink]="" (click)="Nextpage()" style="padding:1px 0px 4px 0px;font-size:15px; color:black; "> 
            <p class="caye">  Contribute As You Earn Scheme</p></a>
          <!-- <br/> -->
         
    
    <!-- <div class="sidebar" >
    
    </div> -->
    
       
        </div>
      </div>
    
      <div ><span class="dot1"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span> 
        <span class="dot"></span> </div>
      <p style="    font-size: 16px;
      margin-left: 251px;"><b> Welcome NANYANG POLYTECHNIC </b>(UEN:1992123456) </p>
    </div>
     </div>
     