<head>
  <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sgds-govtech@1.2.3/css/sgds.css"
  />
</head>  

<div class="masthead-container hidden-print ms-dialogHidden" id="s4-titlerow navbar">
  <div class="sgds-masthead">
      <div class="sgds-container" style="font-size: 1rem">
          <div class="row is-reduced is-masthead">
              <div class="col has-text-centered-touch">
                  <a href="https://www.gov.sg" target="_blank">
                      <span class="sgds-icon sgds-icon-sg-crest is-size-4"></span>
                      <span class="is-text">A Singapore Government Agency Website</span>
                  </a>
              </div>
          </div>
      </div>
  </div>
  <nav class="navbar is-transparent">
      <div class="sgds-container">
          <div class="navbar-brand">
              <a class="navbar-item" id="idCpfLogo" title="Central Provident Fund Board" href="/Members">
                  <img src="../../assets/logo-CPF-web.png" alt="CPF Board"> 
              </a>
              <div class="navbar-item sgds-dropdown is-hidden-desktop" title="Select user portal" style="margin-left: auto">
                  <div class="sgds-dropdown-trigger">
                      <button type="button" class="sgds-button is-white is-medium" aria-haspopup="true" aria-controls="sgds-dropdown-menu">
                          <span class="icon">
                              <span class="sgds-icon sgds-icon-person" style="color: rgb(79, 130, 8);"></span>
                          </span>
                      </button>
                  </div>
                  <div class="sgds-dropdown-menu" id="sgds-dropdown-menu" role="menu">
                      <div class="sgds-dropdown-content">
                          <a id="mastermembersmini" onclick="ga('send', 'event', 'TopNavTab', 'TabClick', 'Members Tab')" class="sgds-dropdown-item is-active" href="/members">Member</a>
                          <a id="masteremployersmini" onclick="ga('send', 'event', 'TopNavTab', 'TabClick', 'Employers Tab')" class="sgds-dropdown-item" href="/employers">Employer</a>
                      </div>
                  </div>
              </div>
              <div class="navbar-burger burger" data-target="mainnav-4" title="Main navigation menu" style="margin-left: 0px">
                  <span></span>
                  <span></span>
                  <span></span>
              </div>
          </div>
          <div id="mainnav-4" class="navbar-menu">
              <div class="navbar-item is-hidden-desktop">
                  <hr class="is-marginless">
                  
                      <div class="field has-addons padding--sm">
                          <div class="control has-icons-left is-expanded">
                              <input class="input is-fullwidth is-borderless is-shadowless" type="text" placeholder="What are you looking for?" id="txtSearchMini" name="query" autocomplete="off">
                              <span class="icon is-medium is-left">
                                  <i class="sgds-icon sgds-icon-search"></i>
                              </span>
                          </div>
                          <div class="control" title="Submit search query" style="padding-top: 5px">
                              <button type="button" id="btnSearchMini" style="position: absolute;left:-9999px"></button>
                          </div>
                      </div>
                      <div class="sgds-container pading--sm is-error" id="searchErrMsgMini"></div>
                  
                  <hr class="is-marginless">
              </div>
              <a class="navbar-item is-capitalized" onclick="ga('send','event','MembersTopNav','TopNavClick','CPF Schemes')" href="/Members/Schemes">
                  CPF Schemes
              </a>
              <a class="navbar-item is-capitalized" onclick="ga('send', 'event', 'MembersTopNav', 'TopNavClick', 'Members Tools')" href="/Members/Tools">
                  Tools
              </a>
              <a class="navbar-item is-capitalized" onclick="ga('send','event','MembersTopNav','TopNavClick','Members Services')" href="/Members/Services">
                  Services
              </a>
              <a class="navbar-item is-capitalized" id="aboutus" onclick="ga('send', 'event', 'MembersTopNav', 'TopNavClick', 'Members About Us')" href="/Members/AboutUs/about-us-info/cpf-overview">
                  About Us
              </a>
              <hr class="is-marginless is-hidden-desktop">
              <a class="navbar-item is-hidden-desktop" id="logStatusMini" href="/eSvc/Web/PortalServices/WelcomePage" title="Login to eServices">Login to eServices</a>
          </div>
          <a class="navbar-item is-hidden-touch" id="logStatus" href="/eSvc/Web/PortalServices/WelcomePage" title="Login to eServices">Login</a>
          <div class="navbar-item sgds-dropdown is-hidden-touch" title="Select user portal" style="margin-left: auto">
              <div class="sgds-dropdown-trigger">
                  <button type="button" class="sgds-button is-white is-medium" aria-haspopup="true" aria-controls="sgds-dropdown-menu">
                      <span class="icon">
                          <span class="sgds-icon sgds-icon-person" style="color: rgb(79, 130, 8);"></span>
                      </span>
                  </button>
              </div>
              <div class="sgds-dropdown-menu" id="sgds-dropdown-menu" role="menu">
                  <div class="sgds-dropdown-content">
                      <a id="mastermembers" onclick="ga('send', 'event', 'TopNavTab', 'TabClick', 'Members Tab')" class="sgds-dropdown-item is-active" href="/members">Member</a>
                      <a id="masteremployers" onclick="ga('send', 'event', 'TopNavTab', 'TabClick', 'Employers Tab')" class="sgds-dropdown-item" href="/employers">Employer</a>
                  </div>
              </div>
          </div>
          <div class="navbar-end is-hidden-touch">
              <div class="navbar-item" title="Search within CPF">
                  <a class="sgds-button is-text is-large" style="text-decoration: none" id="search-activate">
                      <span class="sgds-icon is-size-4 sgds-icon-search"></span>
                  </a>
              </div>
          </div>
      </div>
  </nav>
</div>