<div class="bodywidth">

    <app-header-after></app-header-after>
    <div id="container">
        <p class="ViewTransaction">View Transaction</p>

        <div class="container">
            <div class="row">
              <div class="col-sm">
                <h6 class="CayeContribution">CAYE Refund Request</h6>
              </div>
              <div class="col-sm">
               <p class="DownloadPdf">Download PDF</p>
              </div>
            </div>
          </div>
        <!-- <h6 class="CayeContribution">CAYE Refund Request</h6> -->

        <div class="container">
            <div class="row">
              <div class="col-sm">
                <p class="Submitter">CPF Submission No.</p>
                <p class="submitterNo">1992123456-MSE-01</p>
              </div>
              <div class="col-sm">
               <p class="BankAccount">Bank Account</p>
               <p class="AccountNo">POSB account:xxx-xx123-4</p>
              </div>
            </div>
          </div>

          <div class="container">
              <div class="row">
                <div class="col-sm">
                  <p class="Submitter">Entity Name</p>
                  <p class="submitterNo">CAYE Nanyang Polytechnic</p>
                </div>
                <div class="col-sm">
                 <p class="BankAccount">Bank Account</p>
                 <p class="AccountNo">POSB account:xxx-xx123-4</p>
                </div>
              </div>
            </div>

            <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <p class="Submitter">Submitter NRIC/FIN</p>
                    <p class="submitterNo">S1234123A</p>
                  </div>
                  <div class="col-sm">
                   <p class="BankAccount">Transaction Status</p>
                   <p class="AccountNo">Processed</p>
                  </div>
                </div>
              </div>

              <table class="table table-bordered table-striped table-responsive TABLE">
                  <thead class="TableHead">
                    <tr>
                      <th scope="col" style="width: 25%">Transaction Details</th>
                      <th scope="col"style="width: 40%">Refund Reason</th>
                      <th scope="col" style="width: 35%">Refund Status</th>
                    </tr>
                  </thead>

                  <tbody>
                     <tr> 
                      <td>
                        <h6>NRIC:</h6>
                        <p style="margin-top: -8px;">S1234567A</p>
                        <h6>Transaction No.</h6>
                        <p style="margin-top: -8px;">CAYEPMT00002</p>
                      </td>
                      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt
                      </td>
                      <td>
                        <h6>Refund Amount:</h6>
                        <p style="margin-top: -8px;">$ 5.00</p>
                        <h6>Rejected</h6>
                        <p style="margin-top: -8px;">Rejected reason goes here...</p>
                      </td>
                    </tr>

                    <tr> 
                        <td>
                          <h6>NRIC:</h6>
                          <p style="margin-top: -8px;">S1234567A</p>
                          <h6>Transaction No.</h6>
                          <p style="margin-top: -8px;">CAYEPMT00002</p>
                        </td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                          sed do eiusmod tempor incididunt
                        </td>
                        <td>
                          <h6>Refund Amount:</h6>
                          <p style="margin-top: -8px;">$ 5.00</p>
                          <h6>Sucessful</h6>
                          <!-- <p style="margin-top: -8px;">Rejected reason goes here...</p> -->
                        </td>
                      </tr>

                      <tr> 
                          <td>
                            <h6>NRIC:</h6>
                            <p style="margin-top: -8px;">S1234567A</p>
                            <h6>Transaction No.</h6>
                            <p style="margin-top: -8px;">CAYEPMT00002</p>
                          </td>
                          <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt
                          </td>
                          <td>
                            <h6>Refund Amount:</h6>
                            <p style="margin-top: -8px;">$ 5.00</p>
                            <h6>Rejected</h6>
                            <p style="margin-top: -8px;">Rejected reason goes here...</p>
                          </td>
                        </tr>
                  </tbody>
                  <thead class="TableHead">
                      <tr>
                        <th scope="col">Total amount refund</th>
                        <th scope="col"></th>
                        <th scope="col">$ 5.00</th>
                      </tr>
                    </thead>
                  </table>

      <button type="button" class="btn btn-secondary btn-sm BUT" (click)="Back()" style="border: none;
       border-radius: 0;">Back</button>
      </div>
      </div>
