

    <app-header-transaction-modified></app-header-transaction-modified>
    <div class="wholetransactionhistory">
    <div class="transactionhistory">
      <hr class="horizontal1">
        <p class="ViewTransaction">View Transaction</p>


            <div class="row">
              <div class="col-sm">
                <h6 class="CayeContribution">CAYE Refund Request</h6>
              </div>
              <div class="col-sm">
               <p class="DownloadPdf">Download PDF</p>
              </div>
            </div>

        <!-- <h6 class="CayeContribution">CAYE Refund Request</h6> -->


            <div class="row">
              <div class="col-sm">
                <p class="Submitter">CPF Submission No.</p>
                <p class="submitterNo">1992123456-MSE-01</p>
              </div>
              <div class="col-sm">
               <p class="BankAccount">Bank Account</p>
               <p class="AccountNo">POSB account:xxx-xx123-4</p>
              </div>
            </div>



              <div class="row">
                <div class="col-sm">
                  <p class="Submitter">Entity Name</p>
                  <p class="submitterNo">CAYE Nanyang Polytechnic</p>
                </div>
                <div class="col-sm">
                 <p class="BankAccount">Bank Account</p>
                 <p class="AccountNo">POSB account:xxx-xx123-4</p>
                </div>
              </div>



                <div class="row">
                  <div class="col-sm">
                    <p class="Submitter">Submitter NRIC/FIN</p>
                    <p class="submitterNo">S1234123A</p>
                  </div>
                  <div class="col-sm">
                   <p class="BankAccount">Transaction Status</p>
                   <p class="AccountNo">Processed</p>
                  </div>
                </div>

                <div class="table-responsive Table">
              <table class="table table-bordered table-striped TABLE">
                  <thead class="TableHead">
                    <tr>
                      <th scope="col" class="transactiondetails">Transaction Details</th>
                      <th scope="col" class="transactiondetails">Refund Reason</th>
                      <th scope="col" class="transactiondetails">Refund Status</th>
                    </tr>
                  </thead>

                  <tbody>
                     <tr>
                      <td>
                        <h6 class="NRICC">NRIC:</h6>
                        <p>S1234567A</p>
                        <h6 class="NRICC">Transaction No.</h6>
                        <p>CAYEPMT00002</p>
                      </td>
                      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt
                      </td>
                      <td>
                        <h6 class="NRICC">Refund Amount:</h6>
                        <p>$ 5.00</p>
                        <h6 class="NRICC">Rejected</h6>
                        <p>Rejected reason goes here...</p>
                      </td>
                    </tr>

                    <tr>
                        <td>
                          <h6 class="NRICC">NRIC:</h6>
                          <p>S1234567A</p>
                          <h6 class="NRICC">Transaction No.</h6>
                          <p>CAYEPMT00002</p>
                        </td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                          sed do eiusmod tempor incididunt
                        </td>
                        <td>
                          <h6 class="NRICC">Refund Amount:</h6>
                          <p>$ 5.00</p>
                          <h6 class="NRICC">Sucessful</h6>
                          <!-- <p style="margin-top: -8px;">Rejected reason goes here...</p> -->
                        </td>
                      </tr>

                      <tr>
                          <td>
                            <h6 class="NRICC">NRIC:</h6>
                            <p>S1234567A</p>
                            <h6 class="NRICC">Transaction No.</h6>
                            <p>CAYEPMT00002</p>
                          </td>
                          <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt
                          </td>
                          <td>
                            <h6 class="NRICC">Refund Amount:</h6>
                            <p>$ 5.00</p>
                            <h6 class="NRICC">Rejected</h6>
                            <p>Rejected reason goes here...</p>
                          </td>
                        </tr>
                  </tbody>
                  <thead class="TableHead">
                      <tr>
                        <th scope="col">Total amount refund</th>
                        <th scope="col"></th>
                        <th scope="col">$ 5.00</th>
                      </tr>
                    </thead>
                  </table>
                </div>
      <button type="button" class="btn btn-secondary btn-sm BUT" (click)="back()">Back</button>
      </div>
      </div>
