<app-header-after></app-header-after>

<div class="LIST">
    <!-- <p class="wel">Welcome, NANYANG POLYTECHNIC (UEN:1992123456)</p> -->
</div>
<hr class="style1">
<div id="container">

  <div class="CONTRIBUTE">
    <p class="CAYE">Contribute As You Earn Scheme (CAYE)</p>
  </div>
  <div class="TRANSACTION">
      <p class="transaction">Your request for CPF Submission Number for CAYE has been 
        submitted on 01/08/2018. Please check below for your application status
      </p>
    </div>
    <hr class="style2">

    <div class="CayeAR">
      <h5>CAYE Application Request</h5>
    </div>

      <div class="entity">
        <p style="margin-bottom:0">Entity Name</p>
        <p><b>Nanyang Polytechnic</b></p>
      </div>

      <div class="SUBMITTER">
          <p style="margin-bottom:0">Submitter NRIC/FIN</p>
          <p><b>S1234123A</b></p>
        </div>
        <hr class="DottedHorizontalLine">

        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">UEN No</th>
                    <th scope="col">Transaction Number</th>
                    <th scope="col">Transaction Date</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <td>1992123456</td>
                    <td>CAYECSN1234567D</td>
                    <td>01/08/2018</td>
                    <td>Submitted</td>
                  </tr>
                  
                </tbody>
              </table>
        </div>
        <div>
            <p class="P">This application will take <b>XX</b> days to process.</p>
          </div>

          <div>
              <p class="P1">If you have any questions about CAYE or the Self-Employed Scheme,
                please visit <a href="#" style="text-decoration:underline">www.cpf.gov.sg </a>or call us on 1800-227 1188
                from Mondays to Fridays (8am to 5.30pm).</p>
            </div>
  </div>
