<app-header></app-header>

<div class="LIST">
    <p class="wel">Welcome, NANYANG POLYTECHNIC (UEN:1992123456)</p>
</div>
<hr class="style1">
<div id="container">

  <div class="CONTRIBUTE">
    <p class="CAYE">Contribute As You Earn Scheme (CAYE)</p>
  </div>
  <div class="TRANSACTION">
      <p class="transaction">Your request for CPF Submission Number for CAYE has been 
        submitted on 01/08/2018. Please check below for your application status
      </p>
    </div>
    <hr class="style2">

    <div class="CayeAR">
      <h5>CAYE Application Request</h5>
    </div>

      <div class="entity">
        <h5>Entity Name</h5>
        <p>Nanyang Polytechnic</p>
      </div>

      <div class="SUBMITTER">
          <h5>Submitter NRIC/FIN</h5>
          <p>S1234123A</p>
        </div>
        <hr class="DottedHorizontalLine">

        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">UEN No</th>
                    <th scope="col">Transaction Number</th>
                    <th scope="col">Transaction Date</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <td>1992123456</td>
                    <td>CAYECSN1234567D</td>
                    <td>01/08/2018</td>
                    <td>Submitted</td>
                  </tr>
                  
                </tbody>
              </table>
        </div>
        <div>
            <p class="P">This application will take xx days to process.</p>
          </div>

          <div>
              <p class="P1">If you have any questions about CAYE or the Self-Employed Scheme,
                please visit <a href="#">www.cpf.gov.sg </a>or call us on 1800-227 1188
                from Mondays to Fridays (8am to 5.30pm).</p>
            </div>
  </div>
