
  <app-header-modified></app-header-modified>
  <div class="wholestatus">
<div class="statuswhole">
<hr>
  <div class="CAYE">
    <p class="contributeasuearn">Contribute As You Earn Scheme (CAYE)</p>
  </div>

<div class="yourrequest">
  <p class="yourrequestsubmission">Your request for CPF Submission Number for CAYE has been submitted on 01/08/2018. Please check below for your application status.</p>
</div>

<div class="CAYEAPPLICATION">
  <p class="cayeapplication">CAYE Application Request</p>
</div>

<div class="ENTITYNAME">
  <p class="entityname">Entity Name</p>
  <p class="nanyangpolytechnic">Nanyang Polytechnic</p>
</div>

<div class="NRICFIN">
  <p class="submitternricfin">Submitter NRIC / FIN</p>
  <p class="nricnumber">S1234123A</p>
</div>

<div class="TABLEDIV">
    <table class="table table-bordered Table">
        <thead>
          <tr>
            <th scope="col">UEN No.</th>
            <th scope="col">Transaction No.</th>
            <th scope="col">Transaction Date</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1992123456</td>
            <td>CAYECSN1234567D</td>
            <td style="width: 30%">01/08/2018, 12:34:56PM</td>
            <td>Submitted</td>
          </tr>
        </tbody>
      </table>
</div>

<div class="thank">
  <p class="thankyou">Thank You.</p>
</div>

<div class="container gridcontainer">
    <div class="row">
      <div class="col">
        <p class="yourapplication">Your application takes <b> XX </b>days</p>

        <!-- <p class="checkstatus">Meanwhile you may check the <a class="status">status</a>
          of your application or view our <a class="servicestandard">Service Standards</a> online.</p> -->

        <p class="checkstatus">If you have any questions about CAYE or the Self-Employed Scheme, please visit
          <a class="status">www.cpf.gov.sg</a> or call us at 1800 - 227 - 1188 from Modays to Fridays (8.00am to 5.30pm).</p>
      </div>

    </div>
  </div>

<!-- <div class="horizontalline">
    <hr>
</div> -->

<!-- <div class="BACKTOMAIN">
  <p class="backtomain">Back to Main</p>
</div> -->


  </div>
</div>
<br><br><br><br>
