
<app-header-modified></app-header-modified>
<div class="wholeacknowledge">
<div class="acknowledgementwhole">
    <hr class="horizontal">
  <div class="acknowledge">
    <p class="acknowledgement">Acknowledgement</p>
  </div>

<div class="transaction">
  <p class="transactionsuccessful"><b>Transaction Successful:</b> You have successfully submitted your application for CAYE CSN.</p>
</div>

<div class="TABLEDIV">
    <table class="table table-bordered Table">
        <thead>
          <tr>
            <th scope="col">Service Name</th>
            <th scope="col">Transaction No</th>
            <th scope="col">Transaction Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Apply for CAYE submission Number</td>
            <td>CAYECSN1234567D</td>
            <td>01/08/2018, 12:34:56PM</td>
          </tr>
        </tbody>
      </table>
</div>

<div class="thank">
  <p class="thankyou">Thank You.</p>
</div>

<div class="container gridcontainer">
    <div class="row">
      <div class="GRID">
        <p class="yourapplication">Your application takes <b> XX </b>days</p>
      </div>
      <div class="GRID">
        <p class="checkstatus">Meanwhile you may check the <a href="requeststatus" class="status">status</a>
          of your application or view our <a class="servicestandard">Service Standards</a> online.</p>
        </div>
        <div class="GRID">
        <p class="visitwebsite">If you have any questions about CAYE or the Self-Employed Scheme, please visit
          <a class="status">www.cpf.gov.sg</a> or call us at 1800 - 227 - 1188 from Modays to Fridays (8.00am to 5.30pm).</p>
        </div>
        </div>
  </div>

<div class="horizontalline">
    <hr>
</div>

<div class="BACKTOMAIN">
  <a  href="applycayenew" class="backtomain">Back to Main</a>
</div>

 </div>
</div>
