<app-header-makecaye></app-header-makecaye>
<div id="container">
    <h4 class="heading">
        CAYE Contribution Submissions
      </h4>
      <p style="color: #2878c3;background-color: rgb(211, 231, 236); 
      padding:10px 582px 10px 10px; margin-bottom:10px">
        You have <b><u>2</u></b> CAYE Contributions pending deduction</p>
      <p ><b>Important Notes</b></p>
      <div class="notes">
      <ul style="margin-bottom:0px;padding-left:20px">
        <li style="margin-bottom: 5px;">Please select the 'Draft Reference No.' if you would like to continue.</li>
        <!-- <br/> -->
        <li style="margin-bottom: 5px;">Each draft will be kept for XX days from the last saved date.</li>
        <!-- <br/> -->
        <li style="margin-bottom: 5px;">Drafts are not considered approved submissions.</li>
      </ul>
    </div>
    
    <table class="table table-striped table-bordered" style="margin-top:20px; margin-bottom:10px">
        <thead class="thead-dark">
          <tr>
            <th scope="col">S/N</th>
            <th scope="col">Last Saved Date</th>
            <th scope="col">CSN</th>
            <th scope="col">Draft Reference No.</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-light" >
            <th style="background-color:rgb(199, 239, 199);" scope="row">1</th>
            <td style="background-color:rgb(199, 239, 199);">01/08/2018</td>
            <td style="background-color:rgb(199, 239, 199);">199213456-MSE-01</td>
            <td style="background-color:rgb(199, 239, 199);"><a href="" style="text-decoration:underline">D20190000033</a><img src="../assets/trash3.png" width="5%" style="float:right"></td>
          </tr>
          <tr class="table-light">
            <th style="background-color:rgb(199, 239, 199);" scope="row">2</th>
            <td style="background-color:rgb(199, 239, 199);">01/08/2018</td>
            <td style="background-color:rgb(199, 239, 199);">199213456-MSE-01</td>
            <td style="background-color:rgb(199, 239, 199);"><a href="" style="text-decoration:underline">D20190000033</a> <img src="../assets/trash3.png" width="5%" style="float:right"></td>
          </tr>
        </tbody>
      </table>

      
      </div>

      <button style="
          margin-left: 250px;
          margin-top: 10px;
          padding: 2px 15px 2px 15px;
          border: none;
          background-color: gray;" type="submit">Back to Main</button>
