<app-header-makecaye-modified></app-header-makecaye-modified>
<div class="bodywidth">
<div id="container">
    <h4 class="heading">
        Pending CAYE Transactions
      </h4>
      <p class="message">
        You have <b><u>2</u></b> CAYE Contributions pending deduction</p>
      <p style="margin-top:10px;font-size:18px;font-family:arial;"><b>Important Notes</b></p>
      <div class="notes">
      <ul style="margin-bottom:0px;padding-left:20px">
        <li style="margin-bottom: 10px;margin-top:20px">Please select the 'CSN' if you would like to ammend.</li>
        <!-- <br/> -->
        <li style="margin-bottom: 10px;">All submissions will no longer be available for ammend <b>2 days before deduction date.</b> </li>
        <!-- <br/> -->
        <li style="margin-bottom: 10px;">All submissions will be cancelled once the submission has been deleted.</li>
      </ul>
    </div>
<div class="table-responsive" style="overflow-x: scroll;">
    <table class="table table-striped table-bordered" style="margin-top:20px; margin-bottom:10px;font-size:16px;font-family:arial;">
      <thead style="background-color:#D2D2D2">
          <tr>
            <th scope="col">S/N</th>
            <th scope="col">CSN No.</th>
            <th scope="col">Submission Date</th>
            <th scope="col">Deduction Date</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-light" >
            <td  scope="row">1</td>
            <td ><a href="totalcontribution" style="text-decoration:underline">199213456-MSE-01</a></td>
            <td >01/08/2018</td>
            <td >01/08/2018<img src="../assets/trash3.png" style="float:right" class="dustbin"></td>

          </tr>
          <tr class="table-light">
            <td  scope="row">2</td>
            <td ><a href="" style="text-decoration:underline">199213456-MSE-03</a></td>
            <td >01/08/2018</td>
            <td >01/08/2018<img src="../assets/trash3.png"  style="float:right" class="dustbin"></td>

          </tr>
        </tbody>
      </table>

</div>
      </div>

      <button  class="backbtn" (click)="back()" type="submit">Back</button>
      </div>
<app-footernew></app-footernew>
