
		<!-- The content of your page would go here. -->

		<footer class="footer-distributed">

			<div class="footer-left">
          <!-- <img src="img/logo.png"> -->
				<h3>CPF Board</h3>

				<div class="footer-links">
          <ul>
					<li><a href="#">News</a></li>
					&nbsp;
					<li><a href="#">Join Us</a></li>
          &nbsp;
					<li><a href="#">Useful Links</a></li>
          &nbsp;
					<li><a href="#">Sitemap</a></li>
        </ul>
				</div>


        <p class="footer-links">
          <a href="#">Privacy Statement</a>
          &nbsp;
          <a href="#">Terms of Use</a>
          &nbsp;
          <a href="#">Security Best Practices</a>
        </p>


			</div>

			<!-- <div class="footer-center">
				<div>
					<i class="fa fa-map-marker"></i>
					  <p><span>309 - Rupa Solitaire,
						 Bldg. No. A - 1, Sector - 1</span>
						Mahape, Navi Mumbai - 400710</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+91 22-27782183</p>
				</div>
				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@eduonix.com">support@eduonix.com</a></p>
				</div>
			</div> -->
			<div class="footer-right">

                <p class="footer-links">
                  <a href="#">Contact Us</a>
                  &nbsp;
                  <a href="#">Feedback</a>
                  &nbsp;
                  <a href="#">FAQ</a>
                  &nbsp;
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  &nbsp;

                  <a href="#"><i class="fa fa-instagram"></i></a>
                  &nbsp;
                  <a href="#"><i class="fa fa-youtube"></i></a>
                </p>


        				<p class="footer-company-name">© 2019 Government of Singapore</p>
                <p class="footer-company-name">Last updated on 30 July 2019</p>
				<!-- <p class="footer-company-about">
					<span>About the company</span>
					We offer training and skill building courses across Technology, Design, Management, Science and Humanities.</p> -->
				<!-- <div class="footer-icons">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-instagram"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-youtube"></i></a>
				</div> -->
			</div>
		</footer>
