<div class="leftcolumn" >
  <div class="card">

    <div class="card-body">
      <h5 class="card-title">Service Buyers Online Services</h5>
      <div class="row1">
      <a href="#" style="margin-top:20px;font-size:15px;color:black">Contribute As You Earn Scheme</a>
    </div>
    </div>


  </div>

  </div>

<div class="rightcolumn">
  <div class="LIST">
  <p class="wel">Welcome, NANYANG POLYTECHNIC (UEN:1992123456)</p>
  <hr class="style1">
  <h5 class="H5">Contribute As You Earn Scheme (CAYE)</h5>
  <p class="P">Your request cannot be processed as you do not have a CPF Submission Number for CAYE. </p>
  <br><br>
<hr class="style1">
  <h5 style="font-weight:bold">Related Links</h5>
  <a href="#" style="font-size:15px">Apply for CAYE CPF Submission Number</a>
</div>
</div>
<!--
<app-header></app-header>
<div>
  <div class="leftcolumn" >

    <mat-card class="example-card">
      <mat-card-header>
        <p>Service Buyers
          Online Services</p>
      </mat-card-header>
      <mat-card-content id="row1">
        <a href="#">Contribute As You Earn Scheme</a>
      </mat-card-content>
    </mat-card>

    </div>
    <div class="rightcolumn">
      <mat-list class="LIST">
  <mat-list-item >Welcome, NANYANG POLYTECHNIC (UEN:1992123456)</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><p style="color:#3e8247">Contribute As You Earn Scheme (CAYE)</p></mat-list-item>
  <mat-list-item class="Item">Your request cannot be processed as you do not have a CPF Submission Number for CAYE.</mat-list-item>

  <mat-divider class="DIV"></mat-divider>
  <mat-list-item><p>Related Links</p></mat-list-item>
  <a href="#" style="font-size:15px">Apply for CAYE CPF Submission Number</a>
  </mat-list>

  </div>

    </div> -->
