
<div class="bodywidth">
  <app-header-after></app-header-after>
<!-- <br/> -->
<div>
<!-- <h6>Welcome, <b>NANYANG POLYTECHNIC (UEN:199213456)</b></h6> -->
<div id="container">
  <h4 class="heading">
    Apply for CAYE CPF Submission Number (CSN)
  </h4>
  <p style="font-size:17px;font-weight: 500">CAYE CSN</p>
  <p >This form is only applicable if you wish to
    apply a new Contribute-As-You-Earn (CAYE) CSN to make CAYE Contributions to the
    Self-Employed Persons (SEPs) you engaged.</p>

    
  <p ><b>Important Notes</b></p>
  <div class="box1">
  <ul>
    <li>This form may take you 5 minutes to complete.</li>
    <li>Your request will be processed within xx working days.</li>
    <li>Corporate service buyers and intermediaries are required to apply for a
      CAYE CSN before CAYE contributions can be made to SEPs.</li>
    <li>All fields marked with <span style="color:red">*</span> are mandatory.</li>
  </ul>
</div>
<div style="margin-top: 10px">
  <p>If you encounter any problems with this e-Service,
    please <b><u>contact us</u></b>. Please click <b><u>here</u></b> for more information on CAYE.</p>
  
  </div>
    
      <p ><b>Auto-fill Requestor's Details</b></p>
      <div class="box">
      <p >Do you want to auto-fill the application form
        with your contact details from <i>my cpf?</i></p>
        <div class="form-check-inline">
        <label class="form-check-label" style="margin-left:10px">
          <input type="radio" class="form-check-input" name="optradio" checked>Yes
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label" style="margin-left:10px">
          <input type="radio" class="form-check-input" name="optradio" >No
        </label>
      </div>
    </div>
</div>
<br/>
<button class="submitbtn" (click)="start()" type="submit">Start</button>
<br/>
</div>
</div>