<app-header></app-header>
<br/>
<div>
<h6>Welcome, <b>NANYANG POLYTECHNIC (UEN:199213456)</b></h6>
<div id="container">
  <h4 class="heading">
    Apply for CAYE CPF Submission Number (CSN)
  </h4>
  <p style="padding:0px 0px 0px 10px; width:100%">CAYE CSN</p>
  <p style="padding:0px 0px 0px 10px;width:100%">This form is only applicable if you wish to
    apply a new Contribute-As-You-Earn (CAYE) CSN to make CAYE Contributions to the
    Self-Employed Persons (SEPs) you engaged.</p>
  <p style="padding:0px 0px 0px 10px;width:100%"><b>Important Notes</b></p>
  <ul>
    <li>This form may take you 5 minutes to complete.</li>
    <br/>
    <li>Your request will be processed within xx working days.</li>
    <br/>
    <li>Corporate service buyers and intermediaries are required to apply for a
      CAYE CSN before CAYE contributions can be made to SEPs.</li>
    <br/>
    <li>All fields marked with <span style="color:red">*</span> are mandatory.</li>
  </ul>
  <p style="padding:0px 0px 0px 10px;width:100%">If you encounter any problems with this e-Service,
    please <b><u>contact us</u></b>. Please click <b><u>here</u></b> for more information on CAYE.</p>
    <div class="box">
      <p style="padding:0px 0px 0px 10px;width:100%"><b>Auto-fill Requestor's Details</b></p>
      <p style="padding:0px 0px 0px 10px;width:100%">Do you want to auto-fill the application form
        with your contact details from <i>my cpf?</i></p>
        <div class="form-check-inline">
        <label class="form-check-label" style="margin-left:10px">
          <input type="radio" class="form-check-input" name="optradio" checked>Yes
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label" style="margin-left:10px">
          <input type="radio" class="form-check-input" name="optradio" >No
        </label>
      </div>
    </div>
</div>
<br/>
<button style="background-color:#49712d;color:white;border:none;padding:5px 40px 5px 40px;font-size: 15px;" (click)="start()" type="submit">Start</button>
</div>
