<app-header-after></app-header-after>
<div class="rightcolumn">
  <div class="LIST">
  <p class="wel">Welcome, NANYANG POLYTECHNIC (UEN:1992123456)</p>
  <hr class="style1">
  <h5 class="H5">Acknowledgement</h5>
  <br>
  <div class="table-responsive">
  <table class="table table-bordered ">
    <thead>
      <tr>
        <th scope="col">Service Name</th>
        <th scope="col">Transaction Number</th>
        <th scope="col">Transaction Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Make CAYE Contributions into MediSave Account</td>
        <td>CAYE0075384</td>
        <td>01/01/2020 12:34:56PM</td>
      </tr>
    </tbody>
  </table>
  </div>
      <div>
        <p class="P1">Your request will be processed within our</p> 
        <p class="Service"> <a href="#" > Service Standards.</a></p>
      </div>

      <div>
        <p class="P1">You may check the <a href="#">status</a> of your payment.</p>
      </div>

      <div>
        <p class="P1">If you have any questions about CAYE or the Self-Employed Scheme,
          please visit <a href="#">www.cpf.gov.sg </a>or call us on 1800-227 1188
          from Mondays to Fridays (8am to 5.30pm).</p>
      </div>
      <hr class="style1">
      <div>
        <a href="homepage">Back to Main</a>
      </div>

      <div>
      <a href="#" style="float:right;margin-top:-22px;margin-right:20px"><span style="color:red;margin-right:20px">*</span>Rate this Service</a>

      </div>
      <br><br>
</div>
</div>

