<div class="wholetransactionhistory">
<app-header-modified></app-header-modified>
<div class="transactionhistory">
  <hr class="horizontal1">
<div class="viewtransaction">
  <p class="viewtransactionhistory">View Transaction History</p>
</div>

<div class="showhidebutton">
<button class="BUTTON" (click)="toggle()">{{buttonName}}</button>
</div>

<div class="transactionhistorydate">
  <p class="transactionhistorydateaugust"><b> Transaction History as of 31 Oct 2018 </b>- (Aug 2018 - Oct 2018)</p>
</div>

<div *ngIf="show">
    <div class="table-responsive" >
        <table class="table table-striped table-bordered">
         <thead style="text-align:center">
           <tr>
             <th scope="col">Transaction No.</th>
             <th scope="col" style="text-align:center">Transaction Type</th>
             <th scope="col">Date</th>
             <th scope="col">Status</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td><a href="">CAYEPMT00001(Bank)</a></td>
             <td>CAYE Contribution</td>
             <td>15 August 2018</td>
             <td>Processed (3 rejected records)</td>
           </tr>
           <tr>
             <td><a href="">CAYEPMT00002</a></td>
             <td>Refund</td>
             <td>15 August 2018</td>
             <td>Rejected</td>
           </tr>
           <tr>
             <td><a href="">CAYEPMT00003(Online DDA)</a></td>
             <td">CAYE Contribution</td>
             <td>15 August 2018</td>
             <td>Pending Deduction</td>
           </tr>
           <tr>
             <td><a href="">CAYEPMT00001</a></td>
             <td>Update Entity Information</td>
             <td>15 August 2018</td>
             <td>Processed</td>
           </tr>
           </tbody>
        </table>
       </div>
</div>
<div *ngIf="!(show)">
    <p>Part B</p>
    <p>{{show}}</p>
</div>


</div>
</div>
