<div class="wholesummary">
<app-header-modified></app-header-modified>
<div class="maxdesktopwidth">
    <hr class="horizontal">
  <div class="applyheading">
  <p class="heading">
    Apply for CAYE CPF Submission Number (CSN)
  </p>
  </div>
  <div class="box1">
    <!-- <span class="step1" >Step</span> -->
     <span class="step2" >Step</span>
     <span class="step3" >Step</span><br/> 
   <span class="dot2">1</span><span class="dot3">2</span>
   <!-- <span  class="dot1">1</span>  -->
  <br/>
  </div>
  
  <hr>
  
  <div class="part1">
    <p class="requesterparticulars">Part 1: Requestor's Particulars</p>
  </div>
  
  <div class="nric">
    <p class="nricidentification">NRIC / Foreign Identification No.</p>
    <p class="passportnumber">Passport - 123 - 12345</p>
  </div>
  
  <div class="nameofpassport">
    <p class="name">Name</p>
    <p class="passportname">Name of Passport - 123 - 12345</p>
  </div>
  
  <hr class="horizontal">

  <div class="part2">
    <p class="entityinformation">Part 2: Entity Information</p>
  </div>
  <div class="unique">
    <p class="uniqueentity">Unique Entity No.</p>
    <p class="entityno">1992123456</p>
  </div>

  <div class="entityname">
    <p class="Enitity">Entity Name</p>
    <p class="cayenanyang">CAYE - Nanyang Polytechnic</p>
  </div>
  <div class="csnname">
    <p class="CSNNAME">CSN Name</p>
  </div>
  <div class="icon">
    <span class="glyphicon glyphicon-question-sign questionicon"></span>
  </div>
  <div class="school">
    <p class="schoolofengineering">School of Engineering</p>
  </div>

  <div class="container contactdetails">
    <div class="row">
      <div class="col TELEPHONE">
        <p class="telephoneoffice">Telephone (Office)</p>
        <p class="telephonenumber">61234567</p>
      </div>
      <div class="col MOBILE">
        <p class="mobile">Mobile</p>
        <p class="mobilenumber">91234567</p>
      </div>
    </div>
    </div>

    <div class="EMAIL">
      <p class="emailaddress">Email Address</p>
      <p class="emailid">william@nyp.edu.sg</p>
    </div>

    <div class="STREET">
      <p class="streetname">Street Name</p>
      <p class="streetdetail">Ang Mo Kio Avenue 2</p>
    </div>

    <div class="container addressdetails">
      <div class="row">
        <div class="col HOUSE">
          <p class="blockhouseno">Block / House No.</p>
          <p class="houseno">23</p>
        </div>
        <div class="col LEVEL">
          <p class="levelunitno">Level / Unit No.</p>
          <p class="unitnumber"># 01-01</p>
        </div>
      </div>
      </div>
      <div class="BUTTON">
        <button type="button" class="btn btn-secondary btn-sm BUT" (click)="Back()" style="border: none;
        border-radius: 0;">Back</button>
       <button type="button" class="btn btn-primary btn-sm BUT1" (click)="Next()">Next</button>
    </div>
</div>  
</div>