<app-header-after></app-header-after>
<br/>


  <div class="LIST">
  <p class="wel">Welcome, NANYANG POLYTECHNIC (UEN:1992123456)</p>
  <hr class="style1">
  
    <p class="Contribute">View Transaction Status</p>
    <a href="" class="Download">Download | Print</a>
    <p class="Transaction">Transactions For the Past 12 Months</p>
    <hr class="style1">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Transaction ID</th>
          <th scope="col">Date of Transaction</th>
          <th scope="col">Transaction Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>CAYEPMT0005</td>
          <td>15 September 2018</td>
          <td><a href="refund">Submitted </a> </td>
        </tr>

        <tr>
          <td>CAYEPMT0012</td>
          <td>15 September 2018</td>
          <td><a href="" class="SUBMIT">Submitted </a> </td>
        </tr>
        <tr>
          <td>CAYEPMT0014</td>
          <td>15 September 2018</td>
          <td><a href="" class="SUBMIT">Submitted </a> </td>
        </tr>

        <tr>
          <td>CAYEPMT0016</td>
          <td>15 September 2018</td>
          <td><a href="refund2">Processed </a> </td>
        </tr>

        <tr>
          <td>CAYECSN0001</td>
          <td>10 September 2018</td>
          <td><a href="" class="SUBMIT">Rejected </a> </td>
        </tr>
      </tbody>
    </table>
    <hr class="style1">
    <button type="button" class="btn btn-secondary Button" (click)="back()">Back</button>
    
      
</div>