<app-header-after></app-header-after>
<br/>


  <div class="LIST">
  <p class="wel">Welcome, NANYANG POLYTECHNIC (UEN:1992123456)</p>
  <hr class="style1">
  
    <p class="Contribute">Contribute As You Earn Scheme (CAYE)</p>
    <div class="row">
      <div class="grid-container">
        <div class="grid-item"><a > <img src='../../assets/updateParticulars.png' class="statement"><p class="GRID"><a class="GRID" >Update Particulars</a> </p></a></div>
        <div class="grid-item"><a href="contributionform"><img src='../../assets/MakeCAYEContribution.png' class="statement"><p class="GRID"> <a class="GRID" >Make CAYE Contribution</a></p></a></div>
        <div class="grid-item"><a href="transaction"><img src='../../assets/ViewTransactionStatus.png' class="statement"><p class="GRID"><a class="GRID" >View Transaction Status</a></p></a></div>  
        <div class="grid-item"><a ><img src='../../assets/EnquirePaymentRecords.png' class="statement"><p class="GRID"><a class="GRID" >Enquire Payment Records</a></p></a></div>
        <div class="grid-item"><a ><img src='../../assets/ViewStatement.png' class="statement"><p class="GRID"><a class="GRID" >View Statement</a></p></a></div>
        <div class="grid-item"><a ><img src='../../assets/RequestRefund.png' class="statement"><p class="GRID"><a class="GRID" >Request Refund</a></p></a></div>  
      </div>
      </div>
</div>